Repository bram2w/baserow: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-util-image, backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Path conditions:
  build-ci-util-image: any of: .gitlab/ci_util_image/*
  backend-lint: any of: backend/**/*, premium/backend/**/*
  backend-test-group-1: any of: backend/**/*, premium/backend/**/*
  web-frontend-lint: any of: web-frontend/**/*, premium/web-frontend/**/*
  web-frontend-test: any of: web-frontend/**/*, premium/web-frontend/**/*

Trigger builds on master also
  .gitlab-ci.yml
Due: none

Fix mime.types in the all in one images
  deploy/all-in-one/Dockerfile
Due: none

Attempt to fix dockerhub logins
  .gitlab-ci.yml
Due: none

Enable allinone/cloudron/heroku build on develop
  .gitlab-ci.yml
  .gitlab/ci_includes/jobs.yml
  deploy/all-in-one/README.md
  deploy/cloudron/README.md
  deploy/standalone/BACKEND_README.md
  deploy/standalone/WEBFRONTEND_README.md
Due: none

Fix all in one build
  deploy/all-in-one/Dockerfile
  heroku.yml
Due: none

Switch to using dev latest in heroku image for testing
  deploy/all-in-one/README.md
  deploy/all-in-one/supervisor/start.sh
  heroku.yml
Due: none

Fix backend healthcheck and add better logging.
  backend/Dockerfile
  backend/docker/docker-entrypoint.sh
  deploy/all-in-one/Dockerfile
  deploy/all-in-one/baserow.sh
  deploy/cloudron/cloudron_env.sh
  dev.sh
  web-frontend/Dockerfile
  web-frontend/docker/docker-entrypoint.sh
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Heroku fixes
  deploy/all-in-one/README.md
  deploy/all-in-one/baserow.sh
  deploy/cloudron/README.md
  deploy/heroku/README.md
  deploy/standalone/BACKEND_README.md
  deploy/standalone/WEBFRONTEND_README.md
  docs/installation/install-on-heroku.md
  heroku.Dockerfile
  heroku.yml
Due: none

Turn off this branch being develop
  .gitlab-ci.yml
Due: none

Put heroku env in right place.
  deploy/cloudron/cloudron_env.sh
  deploy/heroku/heroku_env.sh
Due: none

Various docker ci fixes
  .gitlab-ci.yml
  .gitlab/ci_includes/jobs.yml
  backend/Dockerfile
  backend/docker/docker-entrypoint.sh
  deploy/all-in-one/Dockerfile
  deploy/all-in-one/README.md
  deploy/all-in-one/baserow.sh
  deploy/all-in-one/supervisor/start.sh
  deploy/cloudron/README.md
  deploy/heroku/README.md
  deploy/heroku/heroku_env.sh
  deploy/standalone/BACKEND_README.md
  deploy/standalone/WEBFRONTEND_README.md
  dev.sh
  docs/installation/install-on-heroku.md
  heroku.Dockerfile
  heroku.yml
  web-frontend/Dockerfile
  web-frontend/docker/docker-entrypoint.sh
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Fix footer calculation loading state reactivity
  backend/src/baserow/contrib/database/views/view_aggregations.py
  web-frontend/modules/database/store/view/grid.js
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Resolve "Remove the user upload file size limit by default"
  backend/src/baserow/config/settings/base.py
  changelog.md
Due: backend-lint, backend-test-group-1

Fix install on ubuntu upgrade to docker guide, make .dev.sh supply sensible...
  app.json
  backend/docker/docker-entrypoint.sh
  deploy/all-in-one/supervisor/baserow-watcher.sh
  deploy/vagrant/bootstrap.sh
  dev.sh
  docs/installation/configuration.md
  docs/installation/install-on-ubuntu.md
  docs/installation/install-with-docker-compose.md
  docs/installation/install-with-docker.md
  web-frontend/test/server/core/pages/server.spec.js
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Resolve "Copy multiple cells"
  backend/src/baserow/contrib/database/api/rows/views.py
  backend/src/baserow/contrib/database/api/utils.py
  backend/src/baserow/contrib/database/api/views/grid/views.py
  backend/src/baserow/contrib/database/migrations/0033_unique_field_names.py
  backend/src/baserow/contrib/database/rows/handler.py
  backend/tests/baserow/contrib/database/api/views/grid/test_grid_view_views.py
  backend/tests/baserow/contrib/database/rows/test_rows_handler.py
  changelog.md
  web-frontend/modules/core/assets/scss/components/views/grid.scss
  web-frontend/modules/core/assets/scss/components/views/grid/file.scss
  web-frontend/modules/core/assets/scss/components/views/grid/many_to_many.scss
  web-frontend/modules/core/components/notifications/CopyingNotification.vue
  web-frontend/modules/core/components/notifications/Notifications.vue
  web-frontend/modules/core/directives/autoScroll.js
  web-frontend/modules/core/locales/de.json
  web-frontend/modules/core/locales/en.json
  web-frontend/modules/core/store/notification.js
  web-frontend/modules/database/components/view/grid/GridView.vue
  web-frontend/modules/database/components/view/grid/GridViewCell.vue
  web-frontend/modules/database/components/view/grid/GridViewRow.vue
  web-frontend/modules/database/components/view/grid/GridViewRows.vue
  web-frontend/modules/database/components/view/grid/GridViewSection.vue
  web-frontend/modules/database/fieldTypes.js
  web-frontend/modules/database/services/view/grid.js
  web-frontend/modules/database/store/view/grid.js
  web-frontend/test/unit/database/__snapshots__/publicGrid.spec.js.snap
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Even more doc fixes
  docker-compose.yml
  docs/installation/configuration.md
  docs/installation/old-install-on-ubuntu.md
Due: none

Fix links
  docs/installation/install-on-ubuntu.md
  docs/installation/old-install-on-ubuntu.md
Due: none

Resolve "Airtable import web-frontend interface"
  backend/src/baserow/api/applications/serializers.py
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/config/settings/test.py
  backend/src/baserow/contrib/database/airtable/cache.py
  backend/src/baserow/contrib/database/airtable/constants.py
  backend/src/baserow/contrib/database/airtable/exceptions.py
  backend/src/baserow/contrib/database/airtable/handler.py
  backend/src/baserow/contrib/database/airtable/models.py
  backend/src/baserow/contrib/database/airtable/tasks.py
  backend/src/baserow/contrib/database/airtable/utils.py
  backend/src/baserow/contrib/database/api/airtable/__init__.py
  backend/src/baserow/contrib/database/api/airtable/errors.py
  backend/src/baserow/contrib/database/api/airtable/serializers.py
  backend/src/baserow/contrib/database/api/airtable/urls.py
  backend/src/baserow/contrib/database/api/airtable/validators.py
  backend/src/baserow/contrib/database/api/airtable/views.py
  backend/src/baserow/contrib/database/api/urls.py
  backend/src/baserow/contrib/database/management/commands/import_from_airtable.py
  backend/src/baserow/contrib/database/migrations/0066_airtableimportjob.py
  backend/src/baserow/contrib/database/models.py
  backend/src/baserow/test_utils/fixtures/__init__.py
  backend/src/baserow/test_utils/fixtures/airtable.py
  backend/tests/baserow/contrib/database/airtable/test_airtable_handler.py
  backend/tests/baserow/contrib/database/airtable/test_airtable_models.py
  backend/tests/baserow/contrib/database/airtable/test_airtable_tasks.py
  backend/tests/baserow/contrib/database/airtable/test_airtable_utils.py
  backend/tests/baserow/contrib/database/api/airtable/test_airtable_views.py
  changelog.md
  docs/installation/configuration.md
  web-frontend/modules/core/applicationTypes.js
  web-frontend/modules/core/assets/scss/components/all.scss
  web-frontend/modules/core/assets/scss/components/modal-progress.scss
  web-frontend/modules/core/components/application/CreateApplicationModal.vue
  web-frontend/modules/database/applicationTypes.js
  web-frontend/modules/database/components/airtable/ImportFromAirtable.vue
  web-frontend/modules/database/components/export/ExportTableLoadingBar.vue
  web-frontend/modules/database/components/form/DatabaseForm.vue
  web-frontend/modules/database/locales/en.json
  web-frontend/modules/database/services/airtable.js
  web-frontend/test/unit/database/components/export/__snapshots__/exportTableModal.spec.js.snap
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Create prep MR
  README.md
  backend/setup.py
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/version.py
  changelog.md
  deploy/all-in-one/README.md
  deploy/all-in-one/supervisor/start.sh
  deploy/cloudron/CloudronManifest.json
  deploy/cloudron/Dockerfile
  deploy/cloudron/README.md
  docker-compose.yml
  docs/installation/install-on-cloudron.md
  docs/installation/install-on-ubuntu.md
  docs/installation/install-using-standalone-images.md
  docs/installation/install-with-docker.md
  heroku.Dockerfile
  web-frontend/package.json
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Fix migration
  backend/src/baserow/contrib/database/migrations/0065_rename_old_generated_table_indexes.py
Due: backend-lint, backend-test-group-1

Fix not building from cache image.
  .gitlab/ci_includes/jobs.yml
Due: none

Resolve "Latest templates for 1.9"
  backend/src/baserow/contrib/database/formula/expression_generator/generator.py
  backend/src/baserow/contrib/database/formula/types/formula_type.py
  backend/src/baserow/contrib/database/formula/types/formula_types.py
  backend/templates/call-center-log.json
  backend/templates/call-center-log.zip
  backend/templates/company-asset-tracker.json
  backend/templates/company-asset-tracker.zip
  backend/templates/contract-management.json
  backend/templates/contract-management.zip
  backend/templates/elementary-school-management.json
  backend/templates/elementary-school-management.zip
  backend/templates/favorite-food-places.json
  backend/templates/favorite-food-places.zip
  backend/templates/holiday-shopping.json
  backend/templates/holiday-shopping.zip
  backend/templates/individual-medical-record.json
  backend/templates/individual-medical-record.zip
  backend/templates/non-profit-organization-management.json
  backend/templates/non-profit-organization-management.zip
  backend/templates/personal-health-log.json
  backend/templates/political-campaign-contributions.json
  backend/templates/political-campaign-contributions.zip
  backend/templates/recipe-book.json
  backend/templates/recipe-book.zip
  backend/templates/student-planner.json
  backend/templates/student-planner.zip
  backend/templates/trip-history.json
  backend/templates/trip-history.zip
  backend/templates/wedding-client-planner.json
  backend/templates/wedding-client-planner.zip
  backend/tests/baserow/contrib/database/field/test_formula_field_type.py
  changelog.md
Due: backend-lint, backend-test-group-1

Upgrade drf-spectacular
  backend/requirements/base.txt
  backend/requirements/dev_frozen.txt
  backend/src/baserow/api/utils.py
  backend/src/baserow/contrib/database/api/rows/views.py
  backend/src/baserow/contrib/database/api/views/gallery/views.py
  backend/src/baserow/contrib/database/api/views/grid/views.py
  changelog.md
Due: backend-lint, backend-test-group-1

Switch dev mode to how it worked before, fix celery beat throwing errors on...
  .env.example
  .gitlab-ci.yml
  Caddyfile
  Caddyfile.dev
  backend/Dockerfile
  backend/docker/docker-entrypoint.sh
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/config/urls.py
  changelog.md
  deploy/all-in-one/Dockerfile
  deploy/all-in-one/supervisor/default_baserow_env.sh
  deploy/all-in-one/supervisor/supervisor.conf
  dev.sh
  docker-compose.dev.yml
  docker-compose.yml
  docs/installation/configuration.md
  docs/installation/old-install-on-ubuntu.md
  web-frontend/Dockerfile
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Latest translations for 1.9.1
  web-frontend/modules/core/locales/de.json
  web-frontend/modules/core/locales/fr.json
  web-frontend/modules/core/locales/nl.json
  web-frontend/modules/database/locales/de.json
  web-frontend/modules/database/locales/fr.json
  web-frontend/modules/database/locales/nl.json
Due: web-frontend-lint, web-frontend-test

Prepare for 1.9.1
  README.md
  backend/setup.py
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/version.py
  changelog.md
  deploy/all-in-one/README.md
  deploy/all-in-one/supervisor/start.sh
  deploy/cloudron/CloudronManifest.json
  deploy/cloudron/Dockerfile
  deploy/cloudron/README.md
  docker-compose.yml
  docs/installation/install-on-cloudron.md
  docs/installation/install-on-ubuntu.md
  docs/installation/install-using-standalone-images.md
  docs/installation/install-with-docker.md
  heroku.Dockerfile
  web-frontend/package.json
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

fixed docs
  docs/installation/install-with-docker-compose.md
Due: none

fixed failing hard when importing empty Airtable row
  backend/src/baserow/contrib/database/airtable/handler.py
  backend/src/baserow/contrib/database/airtable/helpers.py
  backend/tests/airtable_responses/airtable_application.json
  backend/tests/baserow/contrib/database/airtable/test_airtable_handler.py
  changelog.md
Due: backend-lint, backend-test-group-1

Resolve "Fix disabling the PUBLIC_BASEROW_URL not working correctly in the backend"
  backend/requirements/dev_frozen.txt
  backend/src/baserow/config/settings/base.py
Due: backend-lint, backend-test-group-1

Resolve "Add the group context to the sidebar"
  backend/requirements/dev_frozen.txt
  changelog.md
  web-frontend/modules/core/components/sidebar/Sidebar.vue
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Pin our Python dependencies using pip-tools
  backend/Makefile
  backend/python_dep_check.sh
  backend/requirements/README.md
  backend/requirements/base.in
  backend/requirements/base.txt
  backend/requirements/dev.in
  backend/requirements/dev.txt
  backend/requirements/dev_frozen.txt
  changelog.md
Due: backend-lint, backend-test-group-1

Fixed reactivity when a new field is created
  changelog.md
  premium/web-frontend/modules/baserow_premium/components/views/kanban/KanbanViewStack.vue
  premium/web-frontend/modules/baserow_premium/store/view/kanban.js
  premium/web-frontend/modules/baserow_premium/viewTypes.js
  web-frontend/modules/database/components/row/RowEditModal.vue
  web-frontend/modules/database/store/rowModal.js
  web-frontend/modules/database/store/view/bufferedRows.js
  web-frontend/modules/database/store/view/grid.js
Due: web-frontend-lint, web-frontend-test

Fix ISO Date Format example in dropdown when adding date column/field
  web-frontend/modules/database/components/field/FieldDateSubForm.vue
Due: web-frontend-lint, web-frontend-test

Resolve "Forked MR pipelines no longer work"
  .gitlab-ci.yml
  .gitlab/ci_includes/jobs.yml
Due: none

Resolve "A publicly shared form view with a link row fields sends two lookup requests"
  changelog.md
  web-frontend/modules/core/components/PaginatedDropdown.vue
Due: web-frontend-lint, web-frontend-test

Fix enum and number_type in the OpenAPI spec
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/contrib/database/api/fields/serializers.py
  backend/src/baserow/contrib/database/fields/field_types.py
  changelog.md
Due: backend-lint, backend-test-group-1

Update french translation fr.json
  web-frontend/locales/fr.json
Due: web-frontend-lint, web-frontend-test

Resolve "Arrow key navigation doesn't work not rendered cells"
  changelog.md
  web-frontend/modules/database/components/view/grid/GridViewCell.vue
  web-frontend/modules/database/components/view/grid/GridViewRow.vue
  web-frontend/modules/database/components/view/grid/GridViewRows.vue
  web-frontend/modules/database/components/view/grid/GridViewSection.vue
Due: web-frontend-lint, web-frontend-test

Resolve #534: Creating a new view should switch to it immediately
  changelog.md
  web-frontend/modules/database/components/view/CreateViewModal.vue
  web-frontend/modules/database/components/view/ViewsContext.vue
  web-frontend/modules/database/store/view.js
Due: web-frontend-lint, web-frontend-test

Resolve "When you press backspace on a created/modified field, the field is deleted and the query fails"
  changelog.md
  web-frontend/modules/database/mixins/gridField.js
Due: web-frontend-lint, web-frontend-test
