Repository bram2w/baserow: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-util-image, backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Path conditions:
  build-ci-util-image: any of: .gitlab/ci_util_image/*
  backend-lint: any of: backend/**/*, premium/backend/**/*
  backend-test-group-1: any of: backend/**/*, premium/backend/**/*
  web-frontend-lint: any of: web-frontend/**/*, premium/web-frontend/**/*
  web-frontend-test: any of: web-frontend/**/*, premium/web-frontend/**/*

Resolve "Have the max request page size set via an env variable"
  backend/src/baserow/config/settings/base.py
  changelog.md
  docs/installation/configuration.md
Due: backend-lint, backend-test-group-1

Resolve #219: Boolean field type should recognize the word "checked"
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/tests/baserow/contrib/database/field/test_boolean_field_type.py
  changelog.md
Due: backend-lint, backend-test-group-1

Update Baserow architecture diagrams
  docs/assets/diagrams/server-architecture.png
  docs/assets/diagrams/server-architecture.puml
Due: none

Resolve #244: Updating the token permissions fails hard when a table has been deleted in the meantime
  backend/src/baserow/contrib/database/api/tokens/serializers.py
  backend/src/baserow/contrib/database/tokens/models.py
  backend/tests/baserow/contrib/database/api/tokens/test_token_views.py
  backend/tests/baserow/contrib/database/tokens/test_token_handler.py
  changelog.md
  web-frontend/modules/database/components/settings/APIToken.vue
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Fix to percentage aggregation for boolean fields.
  changelog.md
  web-frontend/modules/database/viewAggregationTypes.js
Due: web-frontend-lint, web-frontend-test

fixed some airtable import bugs
  backend/src/baserow/contrib/database/airtable/airtable_column_types.py
  backend/src/baserow/contrib/database/airtable/exceptions.py
  backend/src/baserow/contrib/database/airtable/handler.py
  backend/src/baserow/contrib/database/airtable/registry.py
  backend/src/baserow/contrib/database/airtable/tasks.py
  backend/tests/airtable_responses/airtable_application.json
  backend/tests/airtable_responses/airtable_view.html
  backend/tests/baserow/contrib/database/airtable/test_airtable_column_types.py
  backend/tests/baserow/contrib/database/airtable/test_airtable_handler.py
  backend/tests/baserow/contrib/database/airtable/test_airtable_tasks.py
  changelog.md
Due: backend-lint, backend-test-group-1

Resolve "Add sync templates loading bar"
  backend/src/baserow/core/handler.py
  changelog.md
  deploy/all-in-one/Dockerfile
  deploy/all-in-one/supervisor/wrapper.sh
Due: backend-lint, backend-test-group-1

Fix develop failing test
  backend/requirements/dev.in
  backend/requirements/dev.txt
  backend/tests/baserow/contrib/database/api/tokens/test_token_views.py
Due: backend-lint, backend-test-group-1

Resolve #604: number of days ago filter
  backend/src/baserow/contrib/database/apps.py
  backend/src/baserow/contrib/database/views/view_filters.py
  backend/tests/baserow/contrib/database/view/test_view_filters.py
  changelog.md
  web-frontend/locales/en.json
  web-frontend/modules/core/assets/scss/components/filters.scss
  web-frontend/modules/database/components/view/ViewFilterTypeNumberWithTimeZone.vue
  web-frontend/modules/database/plugin.js
  web-frontend/modules/database/viewFilters.js
  web-frontend/test/unit/database/viewFiltersMatch.spec.js
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Resolve "Old values are empty in the update trigger of the webhook"
  backend/src/baserow/contrib/database/api/rows/serializers.py
  backend/src/baserow/contrib/database/rows/webhook_event_types.py
  backend/src/baserow/contrib/database/webhooks/handler.py
  backend/src/baserow/contrib/database/webhooks/registries.py
  backend/tests/baserow/contrib/database/api/rows/test_row_serializers.py
  backend/tests/baserow/contrib/database/rows/test_row_webhook_event_types.py
  changelog.md
Due: backend-lint, backend-test-group-1

Add optional way of running the baserow backend in wsgi mode if desired.
  backend/docker/docker-entrypoint.sh
Due: backend-lint, backend-test-group-1

Resolve "Scroll to the first error if form submit fail"
  changelog.md
  premium/web-frontend/modules/baserow_premium/components/admin/users/forms/ChangePasswordForm.vue
  premium/web-frontend/modules/baserow_premium/components/admin/users/forms/UserForm.vue
  premium/web-frontend/modules/baserow_premium/components/license/RegisterLicenseForm.vue
  premium/web-frontend/modules/baserow_premium/components/views/kanban/KanbanViewOptionForm.vue
  web-frontend/modules/core/components/Error.vue
  web-frontend/modules/core/components/FormElement.vue
  web-frontend/modules/core/components/application/ApplicationForm.vue
  web-frontend/modules/core/components/auth/AuthLogin.vue
  web-frontend/modules/core/components/group/GroupForm.vue
  web-frontend/modules/core/components/group/GroupInviteForm.vue
  web-frontend/modules/core/components/settings/AccountForm.vue
  web-frontend/modules/core/mixins/error.js
  web-frontend/modules/core/mixins/form.js
  web-frontend/modules/core/plugins/global.js
  web-frontend/modules/database/components/export/ExportTableForm.vue
  web-frontend/modules/database/components/field/FieldForm.vue
  web-frontend/modules/database/components/form/DatabaseForm.vue
  web-frontend/modules/database/components/settings/APITokenForm.vue
  web-frontend/modules/database/components/table/TableForm.vue
  web-frontend/modules/database/components/view/ViewForm.vue
  web-frontend/modules/database/components/webhook/WebhookForm.vue
  web-frontend/test/helpers/testApp.js
Due: web-frontend-lint, web-frontend-test

Pin hadolint so latest changes don't break our build
  .gitlab-ci.yml
Due: none

Resolve "Backup Baserow command does not batch up multiselect through tables"
  backend/src/baserow/core/management/backup/backup_runner.py
  backend/tests/baserow/core/management/test_backup_runner.py
  changelog.md
Due: backend-lint, backend-test-group-1

Resolve "The bottom of the email character is truncated"
  changelog.md
  web-frontend/modules/core/assets/scss/components/dashboard.scss
  web-frontend/modules/core/assets/scss/components/sidebar.scss
Due: web-frontend-lint, web-frontend-test

Performance improvement: minor link row field performance improvements
  backend/src/baserow/contrib/database/fields/field_types.py
Due: backend-lint, backend-test-group-1

Performance improvement: prevent some queries by doing `enhance_by_fields` when fetching row
  backend/src/baserow/contrib/database/rows/handler.py
Due: backend-lint, backend-test-group-1

Performance improvement: prevent serializing old row for the second time
  backend/src/baserow/contrib/database/ws/public/rows/signals.py
Due: backend-lint, backend-test-group-1

Performance improvement: only select the primary related field
  backend/src/baserow/contrib/database/fields/field_types.py
Due: backend-lint, backend-test-group-1

Resolve "'Refresh formula options' doesn't work when the field is being converted from another field type"
  backend/src/baserow/contrib/database/api/formula/serializers.py
  backend/src/baserow/contrib/database/api/formula/urls.py
  backend/src/baserow/contrib/database/api/formula/views.py
  backend/src/baserow/contrib/database/fields/dependencies/depedency_rebuilder.py
  backend/src/baserow/contrib/database/fields/dependencies/handler.py
  backend/tests/baserow/contrib/database/api/fields/test_formula_views.py
  changelog.md
  web-frontend/modules/database/components/field/FieldForm.vue
  web-frontend/modules/database/components/field/FieldFormulaSubForm.vue
  web-frontend/modules/database/services/formula.js
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Add to dev.sh the support for KDE konsole
  changelog.md
  dev.sh
Due: none

Improve debugging for frontend and backend
  backend/requirements/dev.in
  backend/requirements/dev.txt
  backend/src/baserow/manage.py
  docker-compose.dev.yml
  web-frontend/config/nuxt.config.dev.js
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Fixed multi-select invalid cancelling
  changelog.md
  web-frontend/modules/database/components/view/grid/GridView.vue
Due: web-frontend-lint, web-frontend-test

Resolve "Upgrade Node.js runtime"
  backend/requirements/base.in
  backend/requirements/base.txt
  backend/src/baserow/contrib/database/formula/parser/generated/BaserowFormula.py
  backend/src/baserow/contrib/database/formula/parser/generated/BaserowFormulaLexer.py
  backend/src/baserow/contrib/database/formula/parser/generated/BaserowFormulaListener.py
  backend/src/baserow/contrib/database/formula/parser/generated/BaserowFormulaVisitor.py
  changelog.md
  deploy/all-in-one/Dockerfile
  docs/development/intellij-setup.md
  formula/Dockerfile
  plugin-boilerplate/{{ cookiecutter.project_slug }}/Dockerfile.web-frontend
  web-frontend/Dockerfile
  web-frontend/modules/database/formula/autocompleter/formulaAutocompleter.js
  web-frontend/modules/database/formula/parser/generated/BaserowFormula.js
  web-frontend/modules/database/formula/parser/generated/BaserowFormulaLexer.js
  web-frontend/modules/database/formula/parser/generated/BaserowFormulaListener.js
  web-frontend/modules/database/formula/parser/generated/BaserowFormulaVisitor.js
  web-frontend/modules/database/formula/parser/parser.js
  web-frontend/modules/database/store/view/bufferedRows.js
  web-frontend/package.json
  web-frontend/yarn.lock
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Resolve "Add basic feature flag support"
  backend/src/baserow/config/settings/base.py
  docker-compose.yml
  docs/development/development-environment.md
  docs/development/feature-flags.md
  docs/index.md
  web-frontend/modules/core/module.js
  web-frontend/modules/core/plugins/featureFlags.js
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Σ4️⃣ Footer calculation v0.4 - improve perfs
  backend/src/baserow/contrib/database/api/views/grid/schemas.py
  backend/src/baserow/contrib/database/api/views/grid/serializers.py
  backend/src/baserow/contrib/database/api/views/grid/urls.py
  backend/src/baserow/contrib/database/api/views/grid/views.py
  backend/src/baserow/contrib/database/fields/handler.py
  backend/src/baserow/contrib/database/fields/registries.py
  backend/src/baserow/contrib/database/rows/handler.py
  backend/src/baserow/contrib/database/trash/trash_types.py
  backend/src/baserow/contrib/database/views/handler.py
  backend/src/baserow/contrib/database/views/registries.py
  backend/src/baserow/contrib/database/views/view_types.py
  backend/tests/baserow/contrib/database/api/views/grid/test_grid_view_views.py
  backend/tests/baserow/contrib/database/view/test_view_aggregations.py
  backend/tests/baserow/contrib/database/view/test_view_handler.py
  backend/tests/baserow/contrib/database/view/test_view_types.py
  changelog.md
  web-frontend/modules/database/components/view/grid/GridViewFieldFooter.vue
  web-frontend/modules/database/services/view/grid.js
  web-frontend/modules/database/store/view/grid.js
  web-frontend/modules/database/viewAggregationTypes.js
  web-frontend/test/fixtures/mockServer.js
  web-frontend/test/unit/database/components/view/grid/gridViewFieldFooter.spec.js
  web-frontend/test/unit/database/store/view/grid.spec.js
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Resolve "The model cache sometimes result into an UnpicklingError"
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/fields/models.py
  backend/src/baserow/contrib/database/table/cache.py
  backend/src/baserow/contrib/database/table/models.py
  backend/src/baserow/contrib/database/table/signals.py
  backend/tests/baserow/contrib/database/api/rows/test_row_views.py
  backend/tests/baserow/contrib/database/table/test_table_cache.py
  backend/tests/baserow/contrib/database/trash/test_database_trash_types.py
  changelog.md
  docker-compose.dev.yml
Due: backend-lint, backend-test-group-1

Resolve "Clearing the model cache deletes all redis keys"
  backend/src/baserow/config/settings/test.py
  backend/src/baserow/contrib/database/apps.py
  backend/src/baserow/contrib/database/table/cache.py
  changelog.md
Due: backend-lint, backend-test-group-1

Implement batch row update api
  backend/pytest.ini
  backend/src/baserow/api/user_files/errors.py
  backend/src/baserow/api/utils.py
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/contrib/database/api/fields/errors.py
  backend/src/baserow/contrib/database/api/rows/errors.py
  backend/src/baserow/contrib/database/api/rows/serializers.py
  backend/src/baserow/contrib/database/api/rows/urls.py
  backend/src/baserow/contrib/database/api/rows/views.py
  backend/src/baserow/contrib/database/api/views/form/views.py
  backend/src/baserow/contrib/database/api/views/gallery/views.py
  backend/src/baserow/contrib/database/api/views/grid/views.py
  backend/src/baserow/contrib/database/fields/dependencies/update_collector.py
  backend/src/baserow/contrib/database/fields/exceptions.py
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/fields/models.py
  backend/src/baserow/contrib/database/fields/registries.py
  backend/src/baserow/contrib/database/rows/exceptions.py
  backend/src/baserow/contrib/database/rows/handler.py
  backend/src/baserow/contrib/database/rows/signals.py
  backend/src/baserow/contrib/database/table/models.py
  backend/src/baserow/contrib/database/ws/public/rows/signals.py
  backend/src/baserow/contrib/database/ws/rows/signals.py
  backend/src/baserow/contrib/database/ws/signals.py
  backend/src/baserow/core/user_files/exceptions.py
  backend/src/baserow/core/utils.py
  backend/src/baserow/test_utils/helpers.py
  backend/tests/baserow/contrib/database/api/fields/test_field_views_types.py
  backend/tests/baserow/contrib/database/api/fields/test_file_views.py
  backend/tests/baserow/contrib/database/api/fields/test_link_row_views.py
  backend/tests/baserow/contrib/database/api/fields/test_multiple_select_views.py
  backend/tests/baserow/contrib/database/api/fields/test_single_select_views.py
  backend/tests/baserow/contrib/database/api/rows/test_batch_rows_views.py
  backend/tests/baserow/contrib/database/api/rows/test_row_serializers.py
  backend/tests/baserow/contrib/database/field/test_single_select_field_type.py
  docs/apis/web-socket-api.md
  premium/backend/src/baserow_premium/api/views/kanban/serializers.py
  web-frontend/modules/database/realtime.js
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Latest translations for 1.10
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/contrib/database/locale/cs/LC_MESSAGES/django.mo
  backend/src/baserow/contrib/database/locale/cs/LC_MESSAGES/django.po
  backend/src/baserow/contrib/database/locale/it/LC_MESSAGES/django.mo
  backend/src/baserow/contrib/database/locale/it/LC_MESSAGES/django.po
  backend/src/baserow/core/locale/es/LC_MESSAGES/django.mo
  backend/src/baserow/core/locale/es/LC_MESSAGES/django.po
  backend/src/baserow/core/locale/it/LC_MESSAGES/django.mo
  backend/src/baserow/core/locale/it/LC_MESSAGES/django.po
  backend/src/baserow/core/locale/nl/LC_MESSAGES/django.mo
  changelog.md
  premium/web-frontend/modules/baserow_premium/locales/en.json
  premium/web-frontend/modules/baserow_premium/locales/es.json
  premium/web-frontend/modules/baserow_premium/locales/it.json
  premium/web-frontend/modules/baserow_premium/locales/pt_BR.json
  premium/web-frontend/modules/baserow_premium/plugin.js
  web-frontend/locales/cs.json
  web-frontend/locales/es.json
  web-frontend/locales/it.json
  web-frontend/modules/core/locales/cs.json
  web-frontend/modules/core/locales/es.json
  web-frontend/modules/core/locales/it.json
  web-frontend/modules/core/module.js
  web-frontend/modules/core/plugin.js
  web-frontend/modules/database/locales/es.json
  web-frontend/modules/database/locales/it.json
  web-frontend/modules/database/plugin.js
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Resolve "Account name should be limited to 32 chars"
  backend/src/baserow/api/user/serializers.py
  changelog.md
  web-frontend/modules/core/components/settings/AccountForm.vue
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Performance improvement: made updating dependant fields work more query effecient
  backend/src/baserow/contrib/database/fields/dependencies/handler.py
  backend/src/baserow/contrib/database/fields/models.py
  backend/src/baserow/contrib/database/rows/handler.py
  backend/tests/baserow/contrib/database/field/dependencies/test_field_dependencies_handler.py
  backend/tests/baserow/contrib/database/field/test_lookup_field_type.py
Due: backend-lint, backend-test-group-1

Hotfix: fix flaky test_create_token
  backend/tests/baserow/contrib/database/tokens/test_token_handler.py
Due: backend-lint, backend-test-group-1

Add action for delete application
  backend/src/baserow/api/applications/views.py
  backend/src/baserow/core/actions.py
  backend/src/baserow/core/apps.py
  backend/src/baserow/core/handler.py
  backend/tests/baserow/core/actions/test_application_actions.py
Due: backend-lint, backend-test-group-1

🔁1️⃣ Undo/Redo - View Filter/Sort Actions v2
  backend/src/baserow/contrib/database/api/views/views.py
  backend/src/baserow/contrib/database/views/actions.py
  backend/src/baserow/contrib/database/views/handler.py
  backend/src/baserow/core/action/scopes.py
  backend/src/baserow/core/apps.py
  backend/tests/baserow/contrib/database/view/actions/test_view_filter_actions.py
  backend/tests/baserow/contrib/database/view/actions/test_view_sort_actions.py
  web-frontend/modules/database/pages/table.vue
  web-frontend/modules/database/store/table.js
  web-frontend/modules/database/store/view.js
  web-frontend/modules/database/utils/undoRedoConstants.js
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Add action for update application
  backend/src/baserow/api/applications/views.py
  backend/src/baserow/core/actions.py
  backend/src/baserow/core/apps.py
  backend/src/baserow/core/handler.py
  backend/tests/baserow/core/actions/test_application_actions.py
  backend/tests/baserow/core/test_core_handler.py
Due: backend-lint, backend-test-group-1

Implement order groups action
  backend/src/baserow/api/groups/views.py
  backend/src/baserow/core/actions.py
  backend/src/baserow/core/apps.py
  backend/src/baserow/core/handler.py
  backend/src/baserow/core/signals.py
  backend/src/baserow/ws/signals.py
  backend/tests/baserow/core/actions/test_group_actions.py
  backend/tests/baserow/core/test_core_handler.py
  backend/tests/baserow/ws/test_ws_signals.py
  web-frontend/modules/core/plugins/realTimeHandler.js
  web-frontend/modules/core/store/group.js
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Resolve "Impersonate a user as admin"
  changelog.md
  premium/backend/src/baserow_premium/api/admin/users/serializers.py
  premium/backend/src/baserow_premium/api/admin/users/urls.py
  premium/backend/src/baserow_premium/api/admin/users/views.py
  premium/backend/tests/baserow_premium/api/admin/users/test_users_admin_views.py
  premium/web-frontend/modules/baserow_premium/assets/scss/components/all.scss
  premium/web-frontend/modules/baserow_premium/assets/scss/components/impersonate_warning.scss
  premium/web-frontend/modules/baserow_premium/components/admin/users/contexts/EditUserContext.vue
  premium/web-frontend/modules/baserow_premium/components/sidebar/IsImpersonating.vue
  premium/web-frontend/modules/baserow_premium/locales/en.json
  premium/web-frontend/modules/baserow_premium/middleware.js
  premium/web-frontend/modules/baserow_premium/middleware/impersonate.js
  premium/web-frontend/modules/baserow_premium/module.js
  premium/web-frontend/modules/baserow_premium/plugin.js
  premium/web-frontend/modules/baserow_premium/plugins.js
  premium/web-frontend/modules/baserow_premium/services/admin/users.js
  premium/web-frontend/modules/baserow_premium/store/impersonating.js
  web-frontend/modules/core/components/sidebar/Sidebar.vue
  web-frontend/modules/core/plugins.js
  web-frontend/modules/core/store/auth.js
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test
