Repository bram2w/baserow: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-util-image, backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

build-ci-util-image:
  image: docker:20.10.12
  stage: build
  services:
  - docker:20.10.12-dind
  variables:
    DOCKER_BUILDKIT: 1
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: /certs
  before_script:
  - "echo \"$CI_REGISTRY_PASSWORD\" | \\\n  docker login -u \"$CI_REGISTRY_USER\" \"$CI_REGISTRY\" --password-stdin\n"
  ...

backend-lint:
  script:
  - docker run --rm $BACKEND_CI_DEV_IMAGE lint

backend-test-group-1:
  services:
  - docker:20.10.12-dind
  - name: postgres:11.3
    alias: db
  - name: liminspace/mjml-tcpserver:0.10
    alias: mjml
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: /certs
    POSTGRES_USER: baserow
    POSTGRES_PASSWORD: baserow
    POSTGRES_DB: baserow
  script:
  ...

web-frontend-lint:
  script:
  - docker run --rm $WEBFRONTEND_CI_DEV_IMAGE lint

web-frontend-test:
  script:
  - 'docker run --name=webfrontend_test $WEBFRONTEND_CI_DEV_IMAGE ci-test;
  
    '

Undo redo for the application ordering
  backend/src/baserow/api/applications/views.py
  backend/src/baserow/core/actions.py
  backend/src/baserow/core/apps.py
  backend/src/baserow/core/handler.py
  backend/tests/baserow/core/actions/test_application_actions.py
Due: backend-lint, backend-test-group-1

🔁1️⃣ Undo/Redo - Table and Rows actions
  backend/src/baserow/contrib/database/action/scopes.py
  backend/src/baserow/contrib/database/api/rows/views.py
  backend/src/baserow/contrib/database/api/tables/views.py
  backend/src/baserow/contrib/database/apps.py
  backend/src/baserow/contrib/database/handler.py
  backend/src/baserow/contrib/database/rows/actions.py
  backend/src/baserow/contrib/database/rows/handler.py
  backend/src/baserow/contrib/database/table/actions.py
  backend/src/baserow/contrib/database/table/handler.py
  backend/src/baserow/contrib/database/table/models.py
  backend/src/baserow/contrib/database/views/handler.py
  backend/src/baserow/test_utils/fixtures/row.py
  backend/src/baserow/test_utils/helpers.py
  backend/tests/baserow/contrib/database/api/rows/test_row_views.py
  backend/tests/baserow/contrib/database/field/test_created_on_field_type.py
  backend/tests/baserow/contrib/database/field/test_field_handler.py
  backend/tests/baserow/contrib/database/field/test_file_field_type.py
  backend/tests/baserow/contrib/database/field/test_formula_field_type.py
  backend/tests/baserow/contrib/database/field/test_last_modified_field_type.py
  backend/tests/baserow/contrib/database/field/test_link_row_field_type.py
  backend/tests/baserow/contrib/database/field/test_lookup_field_type.py
  backend/tests/baserow/contrib/database/field/test_multiple_select_field_type.py
  backend/tests/baserow/contrib/database/field/test_rating_field_type.py
  backend/tests/baserow/contrib/database/field/test_single_select_field_type.py
  backend/tests/baserow/contrib/database/migrations/test_unique_field_names_migration.py
  backend/tests/baserow/contrib/database/rows/test_row_webhook_event_types.py
  backend/tests/baserow/contrib/database/rows/test_rows_actions.py
  backend/tests/baserow/contrib/database/rows/test_rows_handler.py
  backend/tests/baserow/contrib/database/table/test_table_actions.py
  backend/tests/baserow/contrib/database/trash/test_database_trash_types.py
  backend/tests/baserow/contrib/database/ws/public/test_public_ws_rows_signals.py
  backend/tests/baserow/contrib/database/ws/test_ws_rows_signals.py
  backend/tests/baserow/performance/test_public_sharing_performance.py
Due: backend-lint, backend-test-group-1

Implement order views action
  backend/src/baserow/contrib/database/api/views/views.py
  backend/src/baserow/contrib/database/views/actions.py
  backend/src/baserow/contrib/database/views/handler.py
  backend/src/baserow/core/actions.py
  backend/src/baserow/core/apps.py
  backend/tests/baserow/contrib/database/view/actions/test_view_order_actions.py
Due: backend-lint, backend-test-group-1

Minor actions cleanup
  backend/src/baserow/core/actions.py
  backend/src/baserow/core/apps.py
Due: backend-lint, backend-test-group-1

Add 0017 migration (languages)
  backend/src/baserow/core/migrations/0017_alter_userprofile_language.py
Due: backend-lint, backend-test-group-1

Resolve "Accessing Querysets by index causes a lot of queries to the database"
  backend/tests/baserow/contrib/database/airtable/test_airtable_handler.py
  backend/tests/baserow/contrib/database/api/rows/test_row_views.py
  backend/tests/baserow/contrib/database/field/test_date_field_type.py
  backend/tests/baserow/contrib/database/field/test_field_handler.py
  backend/tests/baserow/contrib/database/field/test_field_types.py
  backend/tests/baserow/contrib/database/field/test_link_row_field_type.py
  backend/tests/baserow/contrib/database/field/test_multiple_select_field_type.py
  backend/tests/baserow/contrib/database/field/test_single_select_field_type.py
  backend/tests/baserow/contrib/database/rows/test_rows_handler.py
  backend/tests/baserow/contrib/database/view/test_view_handler.py
Due: backend-lint, backend-test-group-1

🌈 2️⃣ - Row coloring v2 - Add backend storage
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/contrib/database/api/views/errors.py
  backend/src/baserow/contrib/database/api/views/serializers.py
  backend/src/baserow/contrib/database/api/views/urls.py
  backend/src/baserow/contrib/database/api/views/views.py
  backend/src/baserow/contrib/database/migrations/0067_viewdecoration.py
  backend/src/baserow/contrib/database/views/exceptions.py
  backend/src/baserow/contrib/database/views/handler.py
  backend/src/baserow/contrib/database/views/models.py
  backend/src/baserow/contrib/database/views/registries.py
  backend/src/baserow/contrib/database/views/signals.py
  backend/src/baserow/contrib/database/views/view_types.py
  backend/src/baserow/contrib/database/ws/views/signals.py
  backend/src/baserow/test_utils/fixtures/view.py
  backend/tests/baserow/contrib/database/airtable/test_airtable_handler.py
  backend/tests/baserow/contrib/database/api/views/form/test_form_view_views.py
  backend/tests/baserow/contrib/database/api/views/grid/test_grid_view_views.py
  backend/tests/baserow/contrib/database/api/views/test_view_decoration.py
  backend/tests/baserow/contrib/database/api/views/test_view_views.py
  backend/tests/baserow/contrib/database/view/test_view_types.py
  backend/tests/baserow/contrib/database/ws/test_ws_view_signals.py
  docs/apis/web-socket-api.md
  premium/web-frontend/modules/baserow_premium/components/views/SingleSelectColorValueProviderForm.vue
  premium/web-frontend/modules/baserow_premium/decoratorValueProviders.js
  web-frontend/modules/core/assets/scss/components/decorator/value_provider_list.scss
  web-frontend/modules/database/components/view/DecoratorValueProviderList.vue
  web-frontend/modules/database/components/view/ViewDecoratorContext.vue
  web-frontend/modules/database/components/view/grid/GridViewRows.vue
  web-frontend/modules/database/decoratorValueProviders.js
  web-frontend/modules/database/realtime.js
  web-frontend/modules/database/services/decoration.js
  web-frontend/modules/database/services/view.js
  web-frontend/modules/database/store/view.js
  web-frontend/test/fixtures/mockServer.js
  web-frontend/test/unit/database/components/view/grid/gridViewRowsDecoration.spec.js
  web-frontend/test/unit/database/components/view/viewDecoratorContext.spec.js
  web-frontend/test/unit/database/store/view/viewDecorator.spec.js
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Disallow creating options in public forms since the operation would fail anyways
  changelog.md
  web-frontend/modules/database/components/row/RowEditFieldMultipleSelect.vue
  web-frontend/modules/database/components/row/RowEditFieldSingleSelect.vue
  web-frontend/modules/database/components/view/form/FormPageField.vue
  web-frontend/modules/database/fieldTypes.js
Due: web-frontend-lint, web-frontend-test

Resolve "Show related row by clicking on a link row relationship"
  changelog.md
  web-frontend/modules/core/assets/scss/components/fields/link_row.scss
  web-frontend/modules/core/assets/scss/components/views/grid/many_to_many.scss
  web-frontend/modules/database/components/row/ForeignRowEditModal.vue
  web-frontend/modules/database/components/row/RowEditFieldLinkRow.vue
  web-frontend/modules/database/components/row/RowEditModal.vue
  web-frontend/modules/database/components/view/grid/GridViewCell.vue
  web-frontend/modules/database/components/view/grid/GridViewRow.vue
  web-frontend/modules/database/components/view/grid/fields/GridViewFieldLinkRow.vue
  web-frontend/modules/database/mixins/gridField.js
  web-frontend/modules/database/realtime.js
  web-frontend/modules/database/services/row.js
  web-frontend/modules/database/store/rowModal.js
  web-frontend/test/unit/database/store/rowModal.spec.js
Due: web-frontend-lint, web-frontend-test

Builtkit package cache
  backend/Dockerfile
Due: backend-lint, backend-test-group-1

Implement batch create rows
  .gitignore
  backend/src/baserow/api/utils.py
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/contrib/database/api/rows/serializers.py
  backend/src/baserow/contrib/database/api/rows/views.py
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/fields/registries.py
  backend/src/baserow/contrib/database/rows/handler.py
  backend/src/baserow/contrib/database/rows/signals.py
  backend/src/baserow/contrib/database/ws/rows/signals.py
  backend/src/baserow/contrib/database/ws/signals.py
  backend/tests/baserow/contrib/database/api/fields/test_file_views.py
  backend/tests/baserow/contrib/database/api/fields/test_link_row_views.py
  backend/tests/baserow/contrib/database/api/fields/test_multiple_select_views.py
  backend/tests/baserow/contrib/database/api/fields/test_single_select_views.py
  backend/tests/baserow/contrib/database/api/rows/test_batch_rows_views.py
  docs/apis/web-socket-api.md
  web-frontend/modules/database/realtime.js
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

fixed reverting cell value on error in grid view
  changelog.md
  web-frontend/modules/database/store/view/grid.js
Due: web-frontend-lint, web-frontend-test

🔁1️⃣ Undo/Redo - Add UpdateRow action type
  backend/src/baserow/contrib/database/api/rows/views.py
  backend/src/baserow/contrib/database/apps.py
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/fields/registries.py
  backend/src/baserow/contrib/database/rows/actions.py
  backend/src/baserow/contrib/database/rows/handler.py
  backend/src/baserow/core/action/models.py
  backend/tests/baserow/contrib/database/field/test_rating_field_type.py
  backend/tests/baserow/contrib/database/rows/test_rows_actions.py
Due: backend-lint, backend-test-group-1

Resolve "Make Views Trashable"
  backend/src/baserow/contrib/database/api/views/views.py
  backend/src/baserow/contrib/database/apps.py
  backend/src/baserow/contrib/database/migrations/0069_view_trashed.py
  backend/src/baserow/contrib/database/mixins.py
  backend/src/baserow/contrib/database/trash/trash_types.py
  backend/src/baserow/contrib/database/views/handler.py
  backend/src/baserow/contrib/database/views/models.py
  backend/src/baserow/contrib/database/views/view_types.py
  backend/tests/baserow/contrib/database/api/views/test_view_filter.py
  backend/tests/baserow/contrib/database/api/views/test_view_sort.py
  backend/tests/baserow/contrib/database/trash/test_database_trash_types.py
  backend/tests/baserow/contrib/database/view/test_view_aggregations.py
  backend/tests/baserow/contrib/database/view/test_view_handler.py
  backend/tests/baserow/contrib/database/view/test_view_models.py
  changelog.md
  premium/backend/src/baserow_premium/views/models.py
  premium/backend/tests/baserow_premium/views/test_premium_view_models.py
  web-frontend/locales/cs.json
  web-frontend/locales/de.json
  web-frontend/locales/en.json
  web-frontend/locales/es.json
  web-frontend/locales/fr.json
  web-frontend/locales/it.json
  web-frontend/locales/nl.json
  web-frontend/modules/database/components/view/DeleteViewModal.vue
  web-frontend/modules/database/components/view/ViewContext.vue
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

🌈 3️⃣ - Row coloring v3 - Add condition value provider
  backend/src/baserow/contrib/database/api/rows/schemas.py
  backend/src/baserow/contrib/database/api/rows/urls.py
  backend/src/baserow/contrib/database/api/rows/views.py
  backend/src/baserow/contrib/database/rows/handler.py
  backend/src/baserow/contrib/database/views/exceptions.py
  backend/src/baserow/contrib/database/views/handler.py
  backend/src/baserow/contrib/database/views/registries.py
  backend/src/baserow/contrib/database/views/signals.py
  backend/tests/baserow/contrib/database/api/rows/test_row_views.py
  backend/tests/baserow/contrib/database/view/test_view_types.py
  premium/backend/src/baserow_premium/apps.py
  premium/backend/src/baserow_premium/views/decorator_value_provider_types.py
  premium/backend/tests/baserow_premium/views/test_premium_view_handler.py
  premium/backend/tests/baserow_premium/views/test_premium_view_types.py
  premium/web-frontend/modules/baserow_premium/assets/scss/components/all.scss
  premium/web-frontend/modules/baserow_premium/assets/scss/components/views/conditional_color_value_provider_form.scss
  premium/web-frontend/modules/baserow_premium/components/views/ConditionalColorValueProviderForm.vue
  premium/web-frontend/modules/baserow_premium/components/views/SingleSelectColorValueProviderForm.vue
  premium/web-frontend/modules/baserow_premium/decoratorValueProviders.js
  premium/web-frontend/modules/baserow_premium/locales/en.json
  web-frontend/modules/core/assets/scss/components/filters.scss
  web-frontend/modules/core/components/Picker.vue
  web-frontend/modules/core/directives/sortable.js
  web-frontend/modules/database/components/field/FieldRatingSubForm.vue
  web-frontend/modules/database/components/view/ViewDecoratorContext.vue
  web-frontend/modules/database/components/view/ViewFieldConditionsForm.vue
  web-frontend/modules/database/components/view/ViewFilterForm.vue
  web-frontend/modules/database/components/view/ViewFilterTypeLinkRow.vue
  web-frontend/modules/database/components/view/grid/GridView.vue
  web-frontend/modules/database/components/view/grid/GridViewRow.vue
  web-frontend/modules/database/components/view/grid/GridViewRows.vue
  web-frontend/modules/database/components/view/grid/GridViewSection.vue
  web-frontend/modules/database/services/row.js
  web-frontend/modules/database/store/view.js
  web-frontend/package.json
  web-frontend/test/unit/database/components/view/__snapshots__/viewDecoratorContext.spec.js.snap
  web-frontend/test/unit/database/components/view/__snapshots__/viewFilterForm.spec.js.snap
  web-frontend/test/unit/database/components/view/viewFilterForm.spec.js
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

🌈 4️⃣ - Row coloring v4 - Add more backend validation
  backend/src/baserow/api/decorators.py
  backend/src/baserow/api/utils.py
  backend/src/baserow/contrib/database/api/fields/views.py
  backend/src/baserow/contrib/database/api/views/errors.py
  backend/src/baserow/contrib/database/api/views/serializers.py
  backend/src/baserow/contrib/database/api/views/views.py
  backend/src/baserow/contrib/database/migrations/0067_viewdecoration.py
  backend/src/baserow/contrib/database/views/exceptions.py
  backend/src/baserow/contrib/database/views/handler.py
  backend/src/baserow/contrib/database/views/models.py
  backend/src/baserow/contrib/database/views/registries.py
  backend/src/baserow/test_utils/fixtures/view.py
  backend/tests/baserow/contrib/database/api/views/form/test_form_view_views.py
  backend/tests/baserow/contrib/database/api/views/test_view_decoration.py
  backend/tests/baserow/contrib/database/ws/test_ws_view_signals.py
  changelog.md
  premium/backend/src/baserow_premium/apps.py
  premium/backend/src/baserow_premium/views/decorator_types.py
  premium/backend/src/baserow_premium/views/decorator_value_provider_types.py
  premium/backend/src/baserow_premium/views/serializers.py
  premium/backend/tests/baserow_premium/views/test_premium_view_decorator_types.py
  premium/backend/tests/baserow_premium/views/test_premium_view_decorator_value_provider_types.py
  premium/backend/tests/baserow_premium/views/test_premium_view_handler.py
  premium/backend/tests/baserow_premium/views/test_premium_view_types.py
  web-frontend/modules/core/assets/scss/components/filters.scss
  web-frontend/modules/core/assets/scss/components/views/grid.scss
  web-frontend/modules/database/components/table/Table.vue
  web-frontend/modules/database/components/view/ViewDecoratorContext.vue
  web-frontend/modules/database/components/view/ViewFilterForm.vue
  web-frontend/test/unit/database/components/view/__snapshots__/viewFilterForm.spec.js.snap
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Fix getting dependant fields in row handler methods
  backend/src/baserow/contrib/database/rows/handler.py
Due: backend-lint, backend-test-group-1

Optimize handeling many to many relationships for batch update rows endpoint
  backend/src/baserow/contrib/database/rows/handler.py
  backend/tests/baserow/contrib/database/api/fields/test_multiple_select_views.py
  backend/tests/baserow/contrib/database/api/rows/test_batch_rows_views.py
  backend/tests/baserow/contrib/database/field/test_lookup_field_type.py
Due: backend-lint, backend-test-group-1

Improve performance of after field update grid view hook
  backend/src/baserow/contrib/database/views/view_types.py
Due: backend-lint, backend-test-group-1

Fix email translations
  backend/src/baserow/contrib/database/locale/cs/LC_MESSAGES/django.po
  backend/src/baserow/contrib/database/locale/de/LC_MESSAGES/django.po
  backend/src/baserow/contrib/database/locale/en/LC_MESSAGES/django.po
  backend/src/baserow/contrib/database/locale/es/LC_MESSAGES/django.mo
  backend/src/baserow/contrib/database/locale/fr/LC_MESSAGES/django.po
  backend/src/baserow/contrib/database/locale/it/LC_MESSAGES/django.po
  backend/src/baserow/contrib/database/locale/nb_NO/LC_MESSAGES/django.po
  backend/src/baserow/contrib/database/locale/nl/LC_MESSAGES/django.po
  backend/src/baserow/contrib/database/locale/zh_Hans/LC_MESSAGES/django.po
  backend/src/baserow/core/locale/cs/LC_MESSAGES/django.po
  backend/src/baserow/core/locale/de/LC_MESSAGES/django.mo
  backend/src/baserow/core/locale/de/LC_MESSAGES/django.po
  backend/src/baserow/core/locale/en/LC_MESSAGES/django.po
  backend/src/baserow/core/locale/es/LC_MESSAGES/django.mo
  backend/src/baserow/core/locale/es/LC_MESSAGES/django.po
  backend/src/baserow/core/locale/fr/LC_MESSAGES/django.mo
  backend/src/baserow/core/locale/fr/LC_MESSAGES/django.po
  backend/src/baserow/core/locale/it/LC_MESSAGES/django.mo
  backend/src/baserow/core/locale/it/LC_MESSAGES/django.po
  backend/src/baserow/core/locale/nb_NO/LC_MESSAGES/django.mo
  backend/src/baserow/core/locale/nb_NO/LC_MESSAGES/django.po
  backend/src/baserow/core/locale/nl/LC_MESSAGES/django.mo
  backend/src/baserow/core/locale/nl/LC_MESSAGES/django.po
  backend/src/baserow/core/locale/zh_Hans/LC_MESSAGES/django.mo
  backend/src/baserow/core/templates/baserow/core/group_invitation.html
  backend/src/baserow/core/templates/baserow/core/group_invitation.mjml.eta
  backend/src/baserow/core/templates/baserow/core/user/reset_password.html
  backend/src/baserow/core/templates/baserow/core/user/reset_password.mjml.eta
  changelog.md
Due: backend-lint, backend-test-group-1

Fix LastModifiedField for batch update
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/fields/fields.py
  backend/src/baserow/contrib/database/rows/handler.py
  backend/tests/baserow/contrib/database/api/rows/test_batch_rows_views.py
  backend/tests/baserow/contrib/database/rows/test_rows_handler.py
Due: backend-lint, backend-test-group-1

Add create and delete view actions
  backend/src/baserow/contrib/database/api/views/views.py
  backend/src/baserow/contrib/database/apps.py
  backend/src/baserow/contrib/database/views/actions.py
  backend/src/baserow/contrib/database/views/handler.py
  backend/tests/baserow/contrib/database/view/actions/test_view_create_actions.py
  backend/tests/baserow/contrib/database/view/actions/test_view_delete_actions.py
Due: backend-lint, backend-test-group-1

Fix undo-redo-guide.md
  docs/technical/undo-redo-guide.md
Due: none

Resolve "Show select_option suggestion when converting TO a single_select field"
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/contrib/database/api/fields/errors.py
  backend/src/baserow/contrib/database/api/fields/serializers.py
  backend/src/baserow/contrib/database/api/fields/urls.py
  backend/src/baserow/contrib/database/api/fields/views.py
  backend/src/baserow/contrib/database/db/schema.py
  backend/src/baserow/contrib/database/db/sql_queries.py
  backend/src/baserow/contrib/database/fields/exceptions.py
  backend/src/baserow/contrib/database/fields/field_converters.py
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/fields/handler.py
  backend/src/baserow/contrib/database/fields/registries.py
  backend/tests/baserow/contrib/database/api/fields/test_field_views.py
  backend/tests/baserow/contrib/database/field/test_field_handler.py
  backend/tests/baserow/contrib/database/field/test_multiple_select_field_type.py
  changelog.md
  web-frontend/modules/database/components/field/FieldForm.vue
  web-frontend/modules/database/components/field/FieldSelectOptions.vue
  web-frontend/modules/database/components/field/FieldSelectOptionsSubForm.vue
  web-frontend/modules/database/fieldTypes.js
  web-frontend/modules/database/mixins/fieldSubForm.js
  web-frontend/modules/database/services/field.js
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

🔁1️⃣ Undo/Redo - UpdateViewFieldOptions, RotateViewSlug, UpdateView actions
  backend/src/baserow/contrib/database/api/views/views.py
  backend/src/baserow/contrib/database/apps.py
  backend/src/baserow/contrib/database/views/actions.py
  backend/src/baserow/contrib/database/views/handler.py
  backend/src/baserow/contrib/database/views/models.py
  backend/src/baserow/contrib/database/views/registries.py
  backend/src/baserow/contrib/database/views/view_types.py
  backend/src/baserow/core/action/models.py
  backend/src/baserow/core/actions.py
  backend/src/baserow/core/apps.py
  backend/src/baserow/core/user_files/handler.py
  backend/tests/baserow/contrib/database/view/actions/test_view_update_actions.py
  premium/backend/src/baserow_premium/views/decorator_value_provider_types.py
  premium/backend/src/baserow_premium/views/view_types.py
  premium/backend/tests/baserow_premium/api/views/views/test_kanban_views.py
Due: backend-lint, backend-test-group-1

fixed bug when creating new field and selecting a select option capable field
  web-frontend/modules/database/components/field/FieldSelectOptionsSubForm.vue
Due: web-frontend-lint, web-frontend-test

Resolve "Add API support for batch delete rows"
  backend/src/baserow/api/trash/serializers.py
  backend/src/baserow/contrib/database/api/rows/serializers.py
  backend/src/baserow/contrib/database/api/rows/urls.py
  backend/src/baserow/contrib/database/api/rows/views.py
  backend/src/baserow/contrib/database/apps.py
  backend/src/baserow/contrib/database/migrations/0070_trashedrows.py
  backend/src/baserow/contrib/database/rows/handler.py
  backend/src/baserow/contrib/database/rows/signals.py
  backend/src/baserow/contrib/database/table/models.py
  backend/src/baserow/contrib/database/trash/models.py
  backend/src/baserow/contrib/database/trash/trash_types.py
  backend/src/baserow/contrib/database/ws/public/rows/signals.py
  backend/src/baserow/contrib/database/ws/rows/signals.py
  backend/src/baserow/core/management/commands/delete_trash.py
  backend/src/baserow/core/migrations/0018_trashentry_names.py
  backend/src/baserow/core/migrations/0019_trashentry_extra_description_to_names.py
  backend/src/baserow/core/models.py
  backend/src/baserow/core/trash/handler.py
  backend/src/baserow/core/trash/registries.py
  backend/tests/baserow/api/trash/test_trash_views.py
  backend/tests/baserow/contrib/database/api/rows/test_batch_rows_views.py
  backend/tests/baserow/contrib/database/trash/test_database_trash_types.py
  backend/tests/baserow/core/migrations/test_0019_extra_descriptions_to_names.py
  backend/tests/baserow/core/migrations/test_fix_trash_constraint.py
  web-frontend/locales/en.json
  web-frontend/modules/core/assets/scss/components/trash_entry.scss
  web-frontend/modules/core/components/trash/TrashEntry.vue
  web-frontend/modules/database/realtime.js
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Recompute aggregatios on batch delete and batch create rows operations
  backend/src/baserow/contrib/database/rows/handler.py
Due: backend-lint, backend-test-group-1

Resolve "Creating two link row fields simultaneously fails hard"
  backend/src/baserow/contrib/database/fields/fields.py
  backend/src/baserow/contrib/database/fields/models.py
  backend/src/baserow/contrib/database/migrations/0071_alter_linkrowfield_link_row_relation_id.py
  backend/tests/baserow/contrib/database/field/test_field_models.py
  backend/tests/baserow/contrib/database/migrations/test_link_row_relation_id.py
  changelog.md
Due: backend-lint, backend-test-group-1

Replace CancelToken by AbortController
  premium/web-frontend/modules/baserow_premium/services/views/kanban.js
  web-frontend/modules/database/services/view/gallery.js
  web-frontend/modules/database/services/view/grid.js
  web-frontend/modules/database/store/view/bufferedRows.js
  web-frontend/modules/database/store/view/grid.js
Due: web-frontend-lint, web-frontend-test

disable creating actions if the undo feature is not present
  backend/src/baserow/config/settings/test.py
  backend/src/baserow/core/action/registries.py
Due: backend-lint, backend-test-group-1

Latest translations from Weblate
  backend/src/baserow/contrib/database/locale/pt_BR/LC_MESSAGES/django.po
  backend/src/baserow/core/locale/pt_BR/LC_MESSAGES/django.po
  backend/src/baserow/core/locale/uk/LC_MESSAGES/django.po
  premium/web-frontend/modules/baserow_premium/locales/de.json
  premium/web-frontend/modules/baserow_premium/locales/fr.json
  premium/web-frontend/modules/baserow_premium/locales/it.json
  premium/web-frontend/modules/baserow_premium/locales/nl.json
  premium/web-frontend/modules/baserow_premium/locales/pt_BR.json
  web-frontend/locales/de.json
  web-frontend/locales/fr.json
  web-frontend/locales/it.json
  web-frontend/locales/nl.json
  web-frontend/locales/pt_BR.json
  web-frontend/modules/core/locales/de.json
  web-frontend/modules/core/locales/fr.json
  web-frontend/modules/core/locales/it.json
  web-frontend/modules/core/locales/nl.json
  web-frontend/modules/core/locales/pt_BR.json
  web-frontend/modules/database/locales/de.json
  web-frontend/modules/database/locales/fr.json
  web-frontend/modules/database/locales/it.json
  web-frontend/modules/database/locales/nl.json
  web-frontend/modules/database/locales/pt_BR.json
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Fix yarn.lock after node runtime upgrade to v16
  web-frontend/package.json
  web-frontend/yarn.lock
Due: web-frontend-lint, web-frontend-test

Multi-Cell Paste
  changelog.md
  premium/web-frontend/modules/baserow_premium/store/view/kanban.js
  web-frontend/locales/de.json
  web-frontend/locales/en.json
  web-frontend/modules/core/components/notifications/Notifications.vue
  web-frontend/modules/core/components/notifications/PastingNotification.vue
  web-frontend/modules/core/locales/de.json
  web-frontend/modules/core/locales/en.json
  web-frontend/modules/core/module.js
  web-frontend/modules/core/plugins/papa.js
  web-frontend/modules/core/store/notification.js
  web-frontend/modules/database/components/view/grid/GridView.vue
  web-frontend/modules/database/components/view/grid/GridViewCell.vue
  web-frontend/modules/database/components/view/grid/GridViewRow.vue
  web-frontend/modules/database/fieldTypes.js
  web-frontend/modules/database/mixins/gridField.js
  web-frontend/modules/database/services/row.js
  web-frontend/modules/database/store/view/bufferedRows.js
  web-frontend/modules/database/store/view/grid.js
  web-frontend/modules/database/viewTypes.js
  web-frontend/test/unit/database/__snapshots__/publicGrid.spec.js.snap
  web-frontend/test/unit/database/fieldTypes.spec.js
Due: web-frontend-lint, web-frontend-test

Make ViewDecoration respect trashed views
  backend/src/baserow/contrib/database/views/models.py
  backend/tests/baserow/contrib/database/view/test_view_models.py
Due: backend-lint, backend-test-group-1

Fix TypeError in clientHandler.js
  web-frontend/modules/core/plugins/clientHandler.js
Due: web-frontend-lint, web-frontend-test

Add changelog and improve docs for batch rows API endpoints
  backend/src/baserow/contrib/database/api/rows/views.py
  changelog.md
Due: backend-lint, backend-test-group-1

Resolve "Create a decoration for table with no single_select fails"
  changelog.md
  premium/web-frontend/modules/baserow_premium/decoratorValueProviders.js
  web-frontend/modules/database/components/view/ViewDecoratorContext.vue
  web-frontend/modules/database/store/view.js
Due: web-frontend-lint, web-frontend-test

Make the Dropdown component focusable with tab key
  changelog.md
  web-frontend/modules/core/components/Dropdown.vue
  web-frontend/modules/core/components/PaginatedDropdown.vue
  web-frontend/modules/core/mixins/dropdown.js
  web-frontend/modules/database/components/field/FieldSelectOptionsDropdown.vue
  web-frontend/test/unit/core/components/__snapshots__/dropdown.spec.js.snap
  web-frontend/test/unit/core/components/dropdown.spec.js
  web-frontend/test/unit/database/components/export/__snapshots__/exportTableModal.spec.js.snap
  web-frontend/test/unit/database/components/view/__snapshots__/viewFilterForm.spec.js.snap
Due: web-frontend-lint, web-frontend-test

Path conditions:
  build-ci-util-image: any of: .gitlab/ci_util_image/*
  backend-lint: any of: backend/**/*, premium/backend/**/*
  backend-test-group-1: any of: backend/**/*, premium/backend/**/*
  web-frontend-lint: any of: web-frontend/**/*, premium/web-frontend/**/*
  web-frontend-test: any of: web-frontend/**/*, premium/web-frontend/**/*
