Repository bram2w/baserow: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-util-image, backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

build-ci-util-image:
  image: docker:20.10.12
  stage: build
  services:
  - docker:20.10.12-dind
  variables:
    DOCKER_BUILDKIT: 1
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: /certs
  before_script:
  - "echo \"$CI_REGISTRY_PASSWORD\" | \\\n  docker login -u \"$CI_REGISTRY_USER\" \"$CI_REGISTRY\" --password-stdin\n"
  ...

backend-lint:
  script:
  - docker run --rm $BACKEND_CI_DEV_IMAGE lint

backend-test-group-1:
  services:
  - docker:20.10.12-dind
  - name: postgres:11.3
    alias: db
  - name: liminspace/mjml-tcpserver:0.10
    alias: mjml
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: /certs
    POSTGRES_USER: baserow
    POSTGRES_PASSWORD: baserow
    POSTGRES_DB: baserow
  script:
  ...

web-frontend-lint:
  script:
  - docker run --rm $WEBFRONTEND_CI_DEV_IMAGE lint

web-frontend-test:
  script:
  - 'docker run --name=webfrontend_test $WEBFRONTEND_CI_DEV_IMAGE ci-test;
  
    '

Fix papa depedency for SaaS
  web-frontend/modules/core/plugins/papa.js
  web-frontend/modules/database/components/table/TableCSVImporter.vue
  web-frontend/modules/database/components/table/TablePasteImporter.vue
  web-frontend/modules/database/components/view/grid/GridView.vue
  web-frontend/modules/database/mixins/gridField.js
Due: web-frontend-lint, web-frontend-test

Update to new coverage reporting format
  .gitlab-ci.yml
Due: none

Add create and delete field actions
  backend/src/baserow/contrib/database/api/fields/views.py
  backend/src/baserow/contrib/database/apps.py
  backend/src/baserow/contrib/database/fields/actions.py
  backend/src/baserow/contrib/database/fields/handler.py
  backend/tests/baserow/contrib/database/field/actions/test_field_create_actions.py
  backend/tests/baserow/contrib/database/field/actions/test_field_delete_actions.py
Due: backend-lint, backend-test-group-1

Allow 127.0.0.1 to make self hosting easier + add an env...
  backend/src/baserow/config/settings/base.py
  changelog.md
  deploy/all-in-one/supervisor/default_baserow_env.sh
  docker-compose.yml
  docs/installation/configuration.md
Due: backend-lint, backend-test-group-1

Add actions for create/delete/update View Decorators
  backend/src/baserow/contrib/database/api/views/views.py
  backend/src/baserow/contrib/database/apps.py
  backend/src/baserow/contrib/database/views/actions.py
  backend/src/baserow/contrib/database/views/handler.py
  backend/tests/baserow/contrib/database/ws/test_ws_view_signals.py
  premium/backend/tests/baserow_premium/views/test_premium_view_decoration_actions.py
Due: backend-lint, backend-test-group-1

Add action for batch updates
  backend/src/baserow/contrib/database/api/rows/views.py
  backend/src/baserow/contrib/database/apps.py
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/rows/actions.py
  backend/src/baserow/contrib/database/rows/handler.py
  backend/src/baserow/core/action/handler.py
  backend/tests/baserow/contrib/database/rows/test_rows_actions.py
Due: backend-lint, backend-test-group-1

Resolve "Text in a number field filter matches all rows"
  backend/src/baserow/contrib/database/fields/field_filters.py
  backend/src/baserow/contrib/database/fields/registries.py
  backend/src/baserow/contrib/database/table/models.py
  backend/src/baserow/contrib/database/views/registries.py
  backend/src/baserow/contrib/database/views/view_filters.py
  backend/tests/baserow/contrib/database/view/test_view_filters.py
  changelog.md
  web-frontend/modules/database/components/view/ViewFilterTypeNumber.vue
  web-frontend/modules/database/components/view/ViewFilterTypeRating.vue
  web-frontend/modules/database/components/view/ViewFilterTypeTimeZone.vue
  web-frontend/modules/database/mixins/filterTypeInput.js
  web-frontend/modules/database/viewFilters.js
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

🔁1️⃣ Undo/Redo - Batch create and delete rows actions
  backend/src/baserow/contrib/database/api/rows/serializers.py
  backend/src/baserow/contrib/database/api/rows/views.py
  backend/src/baserow/contrib/database/apps.py
  backend/src/baserow/contrib/database/rows/actions.py
  backend/src/baserow/contrib/database/rows/handler.py
  backend/tests/baserow/contrib/database/rows/test_rows_actions.py
  backend/tests/baserow/contrib/database/rows/test_rows_handler.py
  backend/tests/baserow/contrib/database/ws/public/test_public_ws_rows_signals.py
  backend/tests/baserow/contrib/database/ws/test_ws_rows_signals.py
Due: backend-lint, backend-test-group-1

Resolve "Webhook test call fails hard when calling an endpoint that doesn't respond with a body"
  backend/src/baserow/contrib/database/webhooks/handler.py
  changelog.md
Due: backend-lint, backend-test-group-1

Resolve "Making a multiple cell selection starting from an empty `link_row` or `formula` field doesn't work as expected"
  changelog.md
  web-frontend/modules/core/assets/scss/components/views/grid.scss
  web-frontend/modules/core/assets/scss/components/views/grid/array.scss
  web-frontend/modules/database/components/view/grid/GridViewCell.vue
Due: web-frontend-lint, web-frontend-test

Fix undo/redo shortcut not working after clicking on buttons.
  web-frontend/modules/core/layouts/app.vue
Due: web-frontend-lint, web-frontend-test

Resolve "Add support for public batch row operations (inserts, updates, deletes)"
  backend/src/baserow/contrib/database/rows/handler.py
  backend/src/baserow/contrib/database/rows/signals.py
  backend/src/baserow/contrib/database/views/handler.py
  backend/src/baserow/contrib/database/ws/public/rows/signals.py
  backend/src/baserow/contrib/database/ws/rows/signals.py
  backend/tests/baserow/contrib/database/view/test_view_handler.py
  backend/tests/baserow/contrib/database/ws/public/test_public_ws_rows_signals.py
  docs/apis/web-socket-api.md
Due: backend-lint, backend-test-group-1

Fix tests broken after merge
  backend/tests/baserow/contrib/database/ws/public/test_public_ws_rows_signals.py
Due: backend-lint, backend-test-group-1

Prep 1.10.0
  README.md
  backend/setup.py
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/version.py
  changelog.md
  deploy/all-in-one/README.md
  deploy/all-in-one/supervisor/start.sh
  deploy/cloudron/CloudronManifest.json
  deploy/cloudron/Dockerfile
  docker-compose.yml
  docs/installation/install-on-cloudron.md
  docs/installation/install-on-ubuntu.md
  docs/installation/install-using-standalone-images.md
  docs/installation/install-with-docker.md
  heroku.Dockerfile
  web-frontend/package.json
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Fix broken lint by merge commit
  web-frontend/modules/core/layouts/app.vue
Due: web-frontend-lint, web-frontend-test

Bump django version with security fix.
  backend/requirements/base.in
  backend/requirements/base.txt
Due: backend-lint, backend-test-group-1

Latest translations for 1.10
  backend/src/baserow/contrib/database/locale/es/LC_MESSAGES/django.po
  premium/web-frontend/modules/baserow_premium/locales/es.json
  web-frontend/locales/es.json
  web-frontend/modules/core/locales/es.json
  web-frontend/modules/database/locales/es.json
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Stop paste event prop when multi pasting to prevent global multipaste handler also being triggered.
  web-frontend/modules/database/mixins/gridField.js
Due: web-frontend-lint, web-frontend-test

Fix earliest and latest date aggregations
  changelog.md
  web-frontend/modules/database/components/view/grid/GridViewFieldFooter.vue
  web-frontend/modules/database/viewAggregationTypes.js
  web-frontend/test/unit/database/viewAggregationType.spec.js
Due: web-frontend-lint, web-frontend-test

Generate Spanish django.mo file
  backend/src/baserow/contrib/database/locale/es/LC_MESSAGES/django.mo
Due: backend-lint, backend-test-group-1

Add docker upgrade docs
  deploy/all-in-one/docker-compose.yml
  docs/development/running-the-dev-environment.md
  docs/installation/install-with-docker-compose.md
  docs/installation/install-with-docker.md
Due: none

Resolve "Fix and re-enable flakey Nuxt Server test"
  web-frontend/test/server/core/pages/server.spec.js
  web-frontend/test/server/jest.config.js
  web-frontend/test/server/jest.setup.js
Due: web-frontend-lint, web-frontend-test

Resolve "Attempt to lower websocket version to 1.10 to prevent error spam"
  backend/requirements/base.in
  backend/requirements/base.txt
Due: backend-lint, backend-test-group-1

Resolve "keyCode property of key events is deprecated and shouldn't be used"
  changelog.md
  premium/web-frontend/modules/baserow_premium/components/views/kanban/KanbanViewStack.vue
  web-frontend/modules/core/components/Editable.vue
  web-frontend/modules/core/directives/sortable.js
  web-frontend/modules/core/mixins/baseModal.js
  web-frontend/modules/core/mixins/dropdown.js
  web-frontend/modules/database/components/field/FileFieldModal.vue
  web-frontend/modules/database/components/formula/FormulaAdvancedEditContext.vue
  web-frontend/modules/database/components/view/grid/GridViewFieldDragging.vue
  web-frontend/modules/database/components/view/grid/GridViewRowDragging.vue
  web-frontend/modules/database/components/view/grid/fields/GridViewFieldBoolean.vue
  web-frontend/modules/database/components/view/grid/fields/GridViewFieldDate.vue
  web-frontend/modules/database/components/view/grid/fields/GridViewFieldFile.vue
  web-frontend/modules/database/components/view/grid/fields/GridViewFieldLinkRow.vue
  web-frontend/modules/database/components/view/grid/fields/GridViewFieldLongText.vue
  web-frontend/modules/database/mixins/bufferedRowsDragAndDrop.js
  web-frontend/modules/database/mixins/gridField.js
  web-frontend/modules/database/mixins/gridFieldInput.js
  web-frontend/modules/database/mixins/selectOptions.js
Due: web-frontend-lint, web-frontend-test

Resolve "Insert Left/Right shows an error for first undo and works on second"
  backend/src/baserow/contrib/database/api/views/views.py
  backend/src/baserow/contrib/database/views/actions.py
  backend/src/baserow/contrib/database/views/registries.py
  backend/tests/baserow/contrib/database/field/test_field_actions.py
Due: backend-lint, backend-test-group-1

Add PikaPods as hosting option
  README.md
Due: none

Add to install options
  README.md
Due: none

Only run the now very slow sync_all_templates test once a morning on develop to speed up ci.
  .gitlab-ci.yml
  backend/.test_durations
  backend/Makefile
  backend/docker/docker-entrypoint.sh
  backend/src/baserow/test_utils/pytest_conftest.py
  backend/tests/baserow/contrib/database/db/test_db_schema.py
  backend/tests/baserow/contrib/database/field/test_field_actions.py
  backend/tests/baserow/contrib/database/field/test_field_handler.py
  backend/tests/baserow/core/test_core_handler.py
  backend/tests/baserow/performance/test_field_performance.py
  backend/tests/baserow/performance/test_formula_performance.py
  backend/tests/baserow/performance/test_public_sharing_performance.py
  backend/tests/baserow/performance/test_trash_performance.py
  backend/tests/baserow/performance/test_view_performance.py
Due: backend-lint, backend-test-group-1

🌈 5️⃣ - Row coloring v5 - Add color to Gallery and Kanban view types
  backend/src/baserow/contrib/database/views/view_types.py
  changelog.md
  premium/backend/src/baserow_premium/views/view_types.py
  premium/web-frontend/modules/baserow_premium/assets/scss/components/views/decorators.scss
  premium/web-frontend/modules/baserow_premium/components/views/kanban/KanbanViewStack.vue
  premium/web-frontend/modules/baserow_premium/decoratorValueProviders.js
  premium/web-frontend/modules/baserow_premium/viewDecorators.js
  web-frontend/modules/core/assets/scss/components/card.scss
  web-frontend/modules/core/assets/scss/components/card/single_select.scss
  web-frontend/modules/database/components/card/RowCard.vue
  web-frontend/modules/database/components/view/ViewDecoratorContext.vue
  web-frontend/modules/database/components/view/gallery/GalleryView.vue
  web-frontend/modules/database/components/view/grid/GridView.vue
  web-frontend/modules/database/components/view/grid/GridViewRow.vue
  web-frontend/modules/database/components/view/grid/GridViewRows.vue
  web-frontend/modules/database/components/view/grid/GridViewSection.vue
  web-frontend/modules/database/mixins/viewDecoration.js
  web-frontend/test/fixtures/gallery.js
  web-frontend/test/fixtures/grid.js
  web-frontend/test/fixtures/mockServer.js
  web-frontend/test/unit/database/components/view/__snapshots__/viewDecoratorContext.spec.js.snap
  web-frontend/test/unit/database/components/view/gallery/__snapshots__/galleryViewDecoration.spec.js.snap
  web-frontend/test/unit/database/components/view/gallery/galleryViewDecoration.spec.js
  web-frontend/test/unit/database/components/view/grid/__snapshots__/gridViewDecoration.spec.js.snap
  web-frontend/test/unit/database/components/view/grid/__snapshots__/gridViewRowsDecoration.spec.js.snap
  web-frontend/test/unit/database/components/view/grid/gridViewDecoration.spec.js
  web-frontend/test/unit/database/components/view/grid/gridViewRows.spec.js
  web-frontend/test/unit/database/components/view/viewDecoratorContext.spec.js
  web-frontend/test/unit/database/table.spec.js
  web-frontend/test/unit/database/viewFilters.spec.js
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Add a custom flake8 plugin that checks for missing empty line after a docstring
  backend/.flake8
  backend/flake8_plugins/__init__.py
  backend/flake8_plugins/flake8_baserow/__init__.py
  backend/flake8_plugins/flake8_baserow/docstring.py
  backend/flake8_plugins/tests/test_flake8_baserow_docstring.py
  backend/mypy.ini
  backend/requirements/dev.in
  backend/requirements/dev.txt
  backend/src/baserow/contrib/database/fields/field_helpers.py
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/fields/handler.py
  backend/src/baserow/contrib/database/formula/ast/function.py
  backend/src/baserow/contrib/database/formula/handler.py
  backend/src/baserow/contrib/database/formula/types/formula_type.py
  backend/src/baserow/contrib/database/handler.py
  backend/src/baserow/contrib/database/rows/handler.py
  backend/src/baserow/contrib/database/table/handler.py
  backend/src/baserow/contrib/database/validators.py
  backend/src/baserow/contrib/database/views/handler.py
  backend/src/baserow/contrib/database/views/registries.py
  backend/src/baserow/contrib/database/views/view_filters.py
  backend/src/baserow/core/models.py
  backend/src/baserow/core/utils.py
  backend/src/baserow/manage.py
  backend/tests/baserow/contrib/database/api/fields/test_multiple_select_views.py
  backend/tests/baserow/contrib/database/view/test_view_aggregations.py
Due: backend-lint, backend-test-group-1

Resolve "Duplicate row"
  changelog.md
  web-frontend/modules/database/components/view/grid/GridView.vue
  web-frontend/modules/database/locales/en.json
  web-frontend/modules/database/store/view/grid.js
Due: web-frontend-lint, web-frontend-test

Fixed template icons
  backend/templates/event-staffing.json
  backend/templates/nonprofit-grant-tracker.json
  backend/templates/performance-reviews.json
  backend/templates/product-roadmap.json
  backend/templates/remote-team-hub.json
  backend/templates/team-check-ins.json
Due: backend-lint, backend-test-group-1

Resolve "Number fields should allow another unit separator"
  changelog.md
  web-frontend/modules/database/fieldTypes.js
Due: web-frontend-lint, web-frontend-test

Replaced readme screenshot with modern one
  docs/assets/screenshot.png
Due: none

Resolve "Hide unique row ID"
  backend/src/baserow/contrib/database/api/views/grid/serializers.py
  backend/src/baserow/contrib/database/api/views/grid/views.py
  backend/src/baserow/contrib/database/migrations/0072_gridview_row_identifier_type.py
  backend/src/baserow/contrib/database/views/models.py
  backend/src/baserow/contrib/database/views/view_types.py
  backend/tests/baserow/contrib/database/api/views/grid/test_grid_view_views.py
  changelog.md
  web-frontend/modules/core/assets/scss/components/views/grid.scss
  web-frontend/modules/database/components/view/grid/GridView.vue
  web-frontend/modules/database/components/view/grid/GridViewHead.vue
  web-frontend/modules/database/components/view/grid/GridViewRow.vue
  web-frontend/modules/database/components/view/grid/GridViewRowIdentifierDropdown.vue
  web-frontend/modules/database/components/view/grid/GridViewRows.vue
  web-frontend/modules/database/components/view/grid/GridViewSection.vue
  web-frontend/modules/database/locales/de.json
  web-frontend/modules/database/locales/en.json
  web-frontend/modules/database/locales/es.json
  web-frontend/modules/database/locales/fr.json
  web-frontend/modules/database/locales/it.json
  web-frontend/modules/database/locales/nl.json
  web-frontend/modules/database/locales/pt_BR.json
  web-frontend/modules/database/locales/zh_Hans.json
  web-frontend/test/unit/database/__snapshots__/publicGrid.spec.js.snap
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Resolve "Order fields in the row edit / create modal"
  changelog.md
  premium/web-frontend/modules/baserow_premium/components/views/kanban/KanbanView.vue
  web-frontend/modules/core/assets/scss/components/all.scss
  web-frontend/modules/core/assets/scss/components/modal.scss
  web-frontend/modules/core/assets/scss/components/row_modal.scss
  web-frontend/modules/database/components/row/ForeignRowEditModal.vue
  web-frontend/modules/database/components/row/RowCreateModal.vue
  web-frontend/modules/database/components/row/RowEditModal.vue
  web-frontend/modules/database/components/row/RowEditModalField.vue
  web-frontend/modules/database/components/row/RowEditModalFieldsList.vue
  web-frontend/modules/database/components/row/RowEditModalHiddenFieldsSection.vue
  web-frontend/modules/database/components/view/gallery/GalleryView.vue
  web-frontend/modules/database/components/view/grid/GridView.vue
  web-frontend/modules/database/locales/en.json
  web-frontend/modules/database/mixins/viewHelpers.js
  web-frontend/modules/database/utils/view.js
  web-frontend/modules/database/utils/virtualScrolling.js
  web-frontend/modules/database/viewTypes.js
  web-frontend/test/unit/database/components/view/grid/__snapshots__/gridViewDecoration.spec.js.snap
Due: web-frontend-lint, web-frontend-test

Resolve "Implement a way to disable "Password forgotten" feature"
  backend/src/baserow/api/settings/serializers.py
  backend/src/baserow/api/user/errors.py
  backend/src/baserow/api/user/views.py
  backend/src/baserow/core/handler.py
  backend/src/baserow/core/migrations/0021_settings_allow_reset_password.py
  backend/src/baserow/core/models.py
  backend/src/baserow/core/user/exceptions.py
  backend/src/baserow/core/user/handler.py
  backend/tests/baserow/api/users/test_user_views.py
  backend/tests/baserow/core/user/test_user_handler.py
  changelog.md
  web-frontend/modules/core/locales/cs.json
  web-frontend/modules/core/locales/de.json
  web-frontend/modules/core/locales/en.json
  web-frontend/modules/core/locales/es.json
  web-frontend/modules/core/locales/fr.json
  web-frontend/modules/core/locales/it.json
  web-frontend/modules/core/locales/nl.json
  web-frontend/modules/core/locales/pt_BR.json
  web-frontend/modules/core/locales/zh_Hans.json
  web-frontend/modules/core/pages/admin/settings.vue
  web-frontend/modules/core/pages/forgotPassword.vue
  web-frontend/modules/core/pages/login.vue
  web-frontend/modules/core/pages/resetPassword.vue
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Resolve "Formula field creation fails when mixing date field and text in a `when_empty` operator"
  backend/src/baserow/contrib/database/formula/ast/function_defs.py
  backend/tests/baserow/contrib/database/formula/test_baserow_formula_results.py
  changelog.md
Due: backend-lint, backend-test-group-1

Path conditions:
  build-ci-util-image: any of: .gitlab/ci_util_image/*
  backend-lint: any of: backend/**/*, premium/backend/**/*
  backend-test-group-1: any of: backend/**/*, premium/backend/**/*
  web-frontend-lint: any of: web-frontend/**/*, premium/web-frontend/**/*
  web-frontend-test: any of: web-frontend/**/*, premium/web-frontend/**/*
