Repository bram2w/baserow: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-util-image, backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Path conditions:
  build-ci-util-image: any of: .gitlab/ci_util_image/*
  backend-lint: any of: backend/**/*, premium/backend/**/*
  backend-test-group-1: any of: backend/**/*, premium/backend/**/*
  web-frontend-lint: any of: web-frontend/**/*, premium/web-frontend/**/*
  web-frontend-test: any of: web-frontend/**/*, premium/web-frontend/**/*

Allow plugins to add items to main sidebar menu
  changelog.md
  web-frontend/modules/core/components/sidebar/Sidebar.vue
  web-frontend/modules/core/plugins.js
Due: web-frontend-lint, web-frontend-test

Multi-Row Delete
  changelog.md
  web-frontend/modules/database/components/view/grid/GridView.vue
  web-frontend/modules/database/services/row.js
  web-frontend/modules/database/services/view/grid.js
  web-frontend/modules/database/store/view/grid.js
Due: web-frontend-lint, web-frontend-test

Text type formulas use GridViewFieldLongText to show text
  changelog.md
  web-frontend/modules/database/components/view/grid/fields/GridViewFieldFormula.vue
  web-frontend/modules/database/components/view/grid/fields/GridViewFieldLongText.vue
  web-frontend/modules/database/formula/formulaTypes.js
  web-frontend/modules/database/mixins/gridFieldInput.js
Due: web-frontend-lint, web-frontend-test

Resolve "Sync templates on startup in an async job"
  backend/docker/docker-entrypoint.sh
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/core/apps.py
  backend/src/baserow/core/handler.py
  backend/src/baserow/core/management/commands/sync_templates.py
  backend/src/baserow/core/tasks.py
  changelog.md
  deploy/all-in-one/supervisor/default_baserow_env.sh
  deploy/heroku/heroku_env.sh
  dev.sh
  docker-compose.yml
  docs/installation/configuration.md
  docs/installation/install-with-docker-compose.md
Due: backend-lint, backend-test-group-1

Resolve "Prevent deadlocks and performance loss due to inadvertant table locking"
  backend/src/baserow/api/applications/views.py
  backend/src/baserow/api/groups/invitations/views.py
  backend/src/baserow/api/groups/users/views.py
  backend/src/baserow/contrib/database/api/tokens/views.py
  backend/src/baserow/contrib/database/api/views/views.py
  backend/src/baserow/contrib/database/api/webhooks/views.py
  backend/src/baserow/contrib/database/fields/handler.py
  backend/src/baserow/contrib/database/rows/handler.py
  backend/src/baserow/contrib/database/table/handler.py
  backend/src/baserow/contrib/database/views/handler.py
  backend/src/baserow/contrib/database/views/models.py
  backend/src/baserow/contrib/database/webhooks/tasks.py
  backend/src/baserow/core/action/handler.py
  backend/src/baserow/core/handler.py
  backend/tests/baserow/contrib/database/api/fields/test_link_row_views.py
  backend/tests/baserow/contrib/database/field/test_field_actions.py
  changelog.md
  premium/backend/src/baserow_premium/admin/users/handler.py
  premium/backend/src/baserow_premium/api/admin/groups/views.py
  premium/backend/src/baserow_premium/api/license/views.py
Due: backend-lint, backend-test-group-1

Resolve "Importing a CSV file without header add an extra first row with field name"
  changelog.md
  web-frontend/modules/database/components/table/TableCSVImporter.vue
Due: web-frontend-lint, web-frontend-test

Fix for webhook POST -> GET redirects
  backend/src/baserow/contrib/database/api/webhooks/serializers.py
  backend/src/baserow/contrib/database/api/webhooks/views.py
  backend/src/baserow/contrib/database/webhooks/handler.py
  backend/src/baserow/contrib/database/webhooks/tasks.py
  backend/tests/baserow/contrib/database/webhooks/test_webhook_handler.py
  changelog.md
Due: backend-lint, backend-test-group-1

Resolve "/api/templates/install endpoint should be POST instead of GET"
  backend/src/baserow/api/templates/views.py
  backend/tests/baserow/api/templates/test_templates_views.py
  changelog.md
  web-frontend/modules/core/services/template.js
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Prevent airtable import from crashing when providing an invalid date
  backend/src/baserow/contrib/database/airtable/airtable_column_types.py
  backend/tests/baserow/contrib/database/airtable/test_airtable_column_types.py
  changelog.md
Due: backend-lint, backend-test-group-1

Resolve "Increase available decimal places in number field"
  backend/src/baserow/contrib/database/fields/models.py
  backend/src/baserow/contrib/database/migrations/0074_increase_available_number_dp.py
  backend/tests/baserow/contrib/database/airtable/test_airtable_column_types.py
  backend/tests/baserow/contrib/database/field/test_number_field_type.py
  backend/tests/baserow/contrib/database/formula/test_baserow_formula_results.py
  changelog.md
  web-frontend/modules/database/components/field/FieldNumberSubForm.vue
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Resolve "Keep track of number of rows per group"
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/contrib/database/migrations/0073_increase_available_number_dp.py
  backend/src/baserow/contrib/database/migrations/0074_auto_20220530_0919.py
  backend/src/baserow/contrib/database/table/handler.py
  backend/src/baserow/contrib/database/table/models.py
  backend/src/baserow/contrib/database/table/tasks.py
  backend/src/baserow/contrib/database/tasks.py
  backend/src/baserow/core/management/commands/count_rows.py
  backend/tests/baserow/contrib/database/migrations/test_add_and_move_public_flags.py
  backend/tests/baserow/contrib/database/migrations/test_field_dependencies_migration.py
  backend/tests/baserow/contrib/database/migrations/test_fix_hanging_formula_fields_migration.py
  backend/tests/baserow/contrib/database/migrations/test_fixed_trashed_field_dependencies_migration.py
  backend/tests/baserow/contrib/database/migrations/test_link_row_relation_id.py
  backend/tests/baserow/contrib/database/migrations/test_remove_field_by_id_migration.py
  backend/tests/baserow/contrib/database/migrations/test_remove_multiselect_missing_options.py
  backend/tests/baserow/contrib/database/migrations/test_rename_old_generated_table_indexes_migration.py
  backend/tests/baserow/contrib/database/migrations/test_unique_field_names_migration.py
  backend/tests/baserow/contrib/database/table/test_table_handler.py
  deploy/all-in-one/supervisor/default_baserow_env.sh
  docker-compose.yml
Due: backend-lint, backend-test-group-1

Escape all quotes in fields
  changelog.md
  web-frontend/modules/database/formula/autocompleter/formulaAutocompleter.js
  web-frontend/test/unit/database/formula/formulaAutocompleter.spec.js
Due: web-frontend-lint, web-frontend-test

⭐ Proposed for 1.10.1 "Fix cache invalidation causing large slowdowns when model cache increases in size"
  backend/src/baserow/contrib/database/management/commands/fill_tables.py
  backend/src/baserow/contrib/database/table/cache.py
  backend/src/baserow/contrib/database/table/models.py
  backend/src/baserow/core/management/utils.py
  backend/tests/baserow/contrib/database/table/test_table_cache.py
  changelog.md
Due: backend-lint, backend-test-group-1

⭐ Proposed for 1.10.1 - "Baserows backend workers default to only one process instead of the num available cores"
  backend/docker/docker-entrypoint.sh
  changelog.md
  docs/installation/configuration.md
Due: backend-lint, backend-test-group-1

⭐ Proposed for 1.10.1 - Performance improvement: implemented specific iterator
  backend/src/baserow/api/applications/views.py
  backend/src/baserow/contrib/database/api/fields/views.py
  backend/src/baserow/contrib/database/api/serializers.py
  backend/src/baserow/contrib/database/api/views/grid/views.py
  backend/src/baserow/contrib/database/api/views/views.py
  backend/src/baserow/contrib/database/table/models.py
  backend/src/baserow/core/db.py
  backend/tests/baserow/core/test_core_db.py
Due: backend-lint, backend-test-group-1

Resolve "Merge categories Local Business and Local business in the templates section"
  backend/templates/restaurant-management.json
Due: backend-lint, backend-test-group-1

Resolve "Fix uploading files via url by default crashing due to MemoryError"
  backend/requirements/dev.in
  backend/requirements/dev.txt
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/core/user_files/handler.py
  backend/tests/baserow/api/user_files/test_user_files_views.py
  backend/tests/baserow/core/user_file/test_user_file_handler.py
  changelog.md
  docker-compose.yml
  docs/installation/configuration.md
Due: backend-lint, backend-test-group-1

Bumpb version for 1.10.1.
  README.md
  backend/setup.py
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/version.py
  changelog.md
  deploy/all-in-one/README.md
  deploy/all-in-one/supervisor/start.sh
  deploy/cloudron/CloudronManifest.json
  deploy/cloudron/Dockerfile
  docker-compose.yml
  docs/installation/install-on-cloudron.md
  docs/installation/install-on-ubuntu.md
  docs/installation/install-using-standalone-images.md
  docs/installation/install-with-docker.md
  heroku.Dockerfile
  web-frontend/package.json
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Fix aggregation not updated on filter update
  backend/src/baserow/contrib/database/views/handler.py
  backend/tests/baserow/contrib/database/api/views/grid/test_grid_view_views.py
  changelog.md
Due: backend-lint, backend-test-group-1

Resolve "Clicking on the trash button in the file upload modal hides the entire modal"
  changelog.md
  web-frontend/modules/core/components/files/UploadFileUserFileUpload.vue
  web-frontend/test/unit/database/components/view/grid/fields/gridViewFieldFile.spec.js
Due: web-frontend-lint, web-frontend-test

Add three categories for the next and future releases to the changelog.md to make it easier to read/use.
  changelog.md
Due: none

Resolve "Prefill form values via query parameters"
  changelog.md
  docs/tutorials/prefill-forms.md
  web-frontend/modules/core/assets/scss/components/views/form.scss
  web-frontend/modules/core/components/PaginatedDropdown.vue
  web-frontend/modules/core/locales/cs.json
  web-frontend/modules/core/locales/de.json
  web-frontend/modules/core/locales/en.json
  web-frontend/modules/core/locales/es.json
  web-frontend/modules/core/locales/fr.json
  web-frontend/modules/core/locales/it.json
  web-frontend/modules/core/locales/nl.json
  web-frontend/modules/core/locales/pt_BR.json
  web-frontend/modules/core/locales/zh_Hans.json
  web-frontend/modules/core/utils/object.js
  web-frontend/modules/database/components/view/form/FormPrefillModal.vue
  web-frontend/modules/database/components/view/form/FormViewFieldLinkRow.vue
  web-frontend/modules/database/components/view/form/FormViewSidebar.vue
  web-frontend/modules/database/fieldTypes.js
  web-frontend/modules/database/pages/form.vue
  web-frontend/modules/database/services/view.js
  web-frontend/modules/database/utils/form.js
  web-frontend/test/unit/core/utils/object.spec.js
  web-frontend/test/unit/database/fieldTypes.spec.js
  web-frontend/test/unit/database/utils/form.spec.js
Due: web-frontend-lint, web-frontend-test

Add Baserow docs for batch row endpoints
  web-frontend/locales/en.json
  web-frontend/modules/core/assets/scss/components/api_docs.scss
  web-frontend/modules/core/assets/scss/components/api_docs/parameters.scss
  web-frontend/modules/database/components/docs/APIDocsParentParameter.vue
  web-frontend/modules/database/components/docs/sections/APIDocsTableCreateRow.vue
  web-frontend/modules/database/components/docs/sections/APIDocsTableDeleteRow.vue
  web-frontend/modules/database/components/docs/sections/APIDocsTableUpdateRow.vue
  web-frontend/modules/database/locales/en.json
  web-frontend/modules/database/pages/APIDocsDatabase.vue
Due: web-frontend-lint, web-frontend-test

Resolve "API access with trailing slash should give nicer error"
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/middleware.py
  backend/tests/baserow/api/test_api_utils.py
  changelog.md
Due: backend-lint, backend-test-group-1

Implemented premium license check per group for the web-frontend
  premium/backend/src/baserow_premium/api/user/user_data_types.py
  premium/backend/src/baserow_premium/license/handler.py
  premium/web-frontend/modules/baserow_premium/components/row_comments/RowCommentsSidebar.vue
  premium/web-frontend/modules/baserow_premium/components/views/kanban/KanbanView.vue
  premium/web-frontend/modules/baserow_premium/plugins.js
  premium/web-frontend/modules/baserow_premium/tableExporterTypes.js
  premium/web-frontend/modules/baserow_premium/viewDecorators.js
  premium/web-frontend/modules/baserow_premium/viewTypes.js
  premium/web-frontend/test/unit/premium/plugins.spec.js
  web-frontend/modules/database/components/export/ExportTableForm.vue
  web-frontend/modules/database/components/export/ExportTableModal.vue
  web-frontend/modules/database/components/export/ExporterTypeChoice.vue
  web-frontend/modules/database/components/export/ExporterTypeChoices.vue
  web-frontend/modules/database/components/row/ForeignRowEditModal.vue
  web-frontend/modules/database/components/row/RowEditModal.vue
  web-frontend/modules/database/components/sidebar/SidebarItem.vue
  web-frontend/modules/database/components/table/Table.vue
  web-frontend/modules/database/components/view/CreateViewLink.vue
  web-frontend/modules/database/components/view/SelectViewDecoratorContext.vue
  web-frontend/modules/database/components/view/ViewContext.vue
  web-frontend/modules/database/components/view/ViewDecoratorContext.vue
  web-frontend/modules/database/components/view/ViewDecoratorList.vue
  web-frontend/modules/database/components/view/ViewDecoratorMenu.vue
  web-frontend/modules/database/components/view/ViewsContext.vue
  web-frontend/modules/database/components/view/ViewsContextItem.vue
  web-frontend/modules/database/components/view/gallery/GalleryView.vue
  web-frontend/modules/database/components/view/grid/GridView.vue
  web-frontend/modules/database/exporterTypes.js
  web-frontend/modules/database/mixins/viewDecoration.js
  web-frontend/modules/database/pages/table.vue
  web-frontend/modules/database/viewDecorators.js
  web-frontend/modules/database/viewTypes.js
  web-frontend/test/unit/database/components/export/exportTableModal.spec.js
  web-frontend/test/unit/database/components/view/gallery/galleryViewDecoration.spec.js
  web-frontend/test/unit/database/components/view/grid/gridViewDecoration.spec.js
  web-frontend/test/unit/database/components/view/viewDecoratorContext.spec.js
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Added missing trailing slash
  deploy/cloudron/CloudronManifest.json
  web-frontend/modules/core/components/auth/AuthLogin.vue
Due: web-frontend-lint, web-frontend-test

Fix flapping specific iterator test.
  backend/tests/baserow/core/test_core_db.py
Due: backend-lint, backend-test-group-1

Resolve "Make the styling of the dashboard cleaner"
  changelog.md
  web-frontend/modules/core/assets/scss/components/dashboard.scss
  web-frontend/modules/core/assets/scss/components/placeholder.scss
  web-frontend/modules/core/assets/scss/variables.scss
  web-frontend/modules/core/components/dashboard/DashboardGroup.vue
  web-frontend/modules/core/components/dashboard/DashboardHelp.vue
  web-frontend/modules/core/components/dashboard/DashboardNoGroups.vue
  web-frontend/modules/core/components/dashboard/DashboardSidebar.vue
  web-frontend/modules/core/components/group/GroupInvitation.vue
  web-frontend/modules/core/locales/en.json
  web-frontend/modules/core/pages/dashboard.vue
  web-frontend/modules/core/plugins.js
  web-frontend/modules/database/components/dashboard/DatabaseDashboardSidebarLinks.vue
  web-frontend/modules/database/locales/en.json
  web-frontend/modules/database/plugin.js
  web-frontend/modules/database/plugins.js
Due: web-frontend-lint, web-frontend-test

Add group_user_added signal
  backend/src/baserow/core/handler.py
  backend/src/baserow/core/signals.py
  changelog.md
  docs/apis/web-socket-api.md
Due: backend-lint, backend-test-group-1

Add before_group_deleted signal
  backend/src/baserow/core/handler.py
  backend/src/baserow/core/signals.py
  changelog.md
  docs/apis/web-socket-api.md
Due: backend-lint, backend-test-group-1

Resolve "Keep track of storage usage per group"
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/contrib/database/apps.py
  backend/src/baserow/contrib/database/table/handler.py
  backend/src/baserow/contrib/database/table/tasks.py
  backend/src/baserow/contrib/database/table/usage_types.py
  backend/src/baserow/contrib/database/views/usage_types.py
  backend/src/baserow/core/management/commands/calculate_storage_usage.py
  backend/src/baserow/core/migrations/0024_group_storage_usage.py
  backend/src/baserow/core/models.py
  backend/src/baserow/core/tasks.py
  backend/src/baserow/core/usage/__init__.py
  backend/src/baserow/core/usage/handler.py
  backend/src/baserow/core/usage/registries.py
  backend/src/baserow/core/usage/tasks.py
  backend/tests/baserow/contrib/database/table/test_table_handler.py
  backend/tests/baserow/contrib/database/table/test_table_usage_types.py
  backend/tests/baserow/contrib/database/view/test_view_usage_types.py
  deploy/all-in-one/supervisor/default_baserow_env.sh
  docker-compose.yml
Due: backend-lint, backend-test-group-1

Don't log as errors so they don't get raised to sentry
  backend/src/baserow/core/action/handler.py
Due: backend-lint, backend-test-group-1

Multi-Cell clear
  changelog.md
  web-frontend/modules/core/components/notifications/ClearingNotification.vue
  web-frontend/modules/core/components/notifications/Notifications.vue
  web-frontend/modules/core/locales/en.json
  web-frontend/modules/core/store/notification.js
  web-frontend/modules/database/components/view/grid/GridView.vue
  web-frontend/modules/database/fieldTypes.js
  web-frontend/modules/database/store/view/grid.js
  web-frontend/test/unit/database/__snapshots__/publicGrid.spec.js.snap
Due: web-frontend-lint, web-frontend-test

Add API exception registry
  backend/src/baserow/api/registries.py
  backend/src/baserow/api/utils.py
  backend/tests/baserow/api/test_api_utils.py
  changelog.md
Due: backend-lint, backend-test-group-1

Added the backend implementation of the premium license per group
  backend/pytest.ini
  premium/backend/pytest.ini
  premium/backend/src/baserow_premium/api/row_comments/views.py
  premium/backend/src/baserow_premium/api/views/kanban/views.py
  premium/backend/src/baserow_premium/export/exporter_types.py
  premium/backend/src/baserow_premium/license/handler.py
  premium/backend/src/baserow_premium/row_comments/handler.py
  premium/backend/src/baserow_premium/views/decorator_types.py
  premium/backend/src/baserow_premium/views/decorator_value_provider_types.py
  premium/backend/tests/baserow_premium/api/row_comments/test_row_comments_views.py
  premium/backend/tests/baserow_premium/api/views/views/test_kanban_views.py
  premium/backend/tests/baserow_premium/export/test_premium_export_types.py
  premium/backend/tests/baserow_premium/license/test_license_handler.py
  premium/backend/tests/baserow_premium/row_comments/test_row_comments_handler.py
  premium/backend/tests/baserow_premium/views/test_premium_view_decorator_types.py
  premium/backend/tests/baserow_premium/views/test_premium_view_decorator_value_provider_types.py
  premium/web-frontend/modules/baserow_premium/components/views/kanban/KanbanView.vue
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Resolve "Duplicate view"
  backend/src/baserow/contrib/database/api/views/urls.py
  backend/src/baserow/contrib/database/api/views/views.py
  backend/src/baserow/contrib/database/apps.py
  backend/src/baserow/contrib/database/fields/handler.py
  backend/src/baserow/contrib/database/views/actions.py
  backend/src/baserow/contrib/database/views/handler.py
  backend/src/baserow/contrib/database/views/view_types.py
  backend/src/baserow/core/utils.py
  backend/tests/baserow/contrib/database/airtable/test_airtable_handler.py
  backend/tests/baserow/contrib/database/api/views/test_view_views.py
  backend/tests/baserow/contrib/database/view/actions/test_view_duplicate_actions.py
  backend/tests/baserow/contrib/database/view/test_view_handler.py
  backend/tests/baserow/contrib/database/view/test_view_types.py
  backend/tests/baserow/core/test_core_utils.py
  changelog.md
  premium/backend/src/baserow_premium/views/view_types.py
  premium/backend/tests/baserow_premium/views/test_premium_view_types.py
  web-frontend/modules/database/components/view/ViewContext.vue
  web-frontend/modules/database/locales/en.json
  web-frontend/modules/database/services/view.js
  web-frontend/modules/database/store/view.js
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Small fixes in preparation of the subscription service
  backend/src/baserow/api/registries.py
  backend/src/baserow/core/handler.py
  backend/src/baserow/core/signals.py
  backend/src/baserow/core/user/handler.py
  premium/backend/src/baserow_premium/admin/users/handler.py
  premium/web-frontend/modules/baserow_premium/locales/de.json
  premium/web-frontend/modules/baserow_premium/locales/en.json
  premium/web-frontend/modules/baserow_premium/locales/es.json
  premium/web-frontend/modules/baserow_premium/locales/fr.json
  premium/web-frontend/modules/baserow_premium/locales/it.json
  premium/web-frontend/modules/baserow_premium/locales/nl.json
  premium/web-frontend/modules/baserow_premium/locales/pt_BR.json
  premium/web-frontend/modules/baserow_premium/locales/zh_Hans.json
  premium/web-frontend/modules/baserow_premium/pages/admin/licenses.vue
  web-frontend/modules/core/components/dashboard/DashboardGroup.vue
  web-frontend/modules/core/components/dashboard/DashboardHelp.vue
  web-frontend/modules/core/locales/de.json
  web-frontend/modules/core/locales/en.json
  web-frontend/modules/core/pages/dashboard.vue
  web-frontend/modules/core/plugins.js
  web-frontend/modules/core/plugins/clientHandler.js
  web-frontend/test/helpers/testApp.js
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test
