Repository bram2w/baserow: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-util-image, backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Path conditions:
  build-ci-util-image: any of: .gitlab/ci_util_image/*
  backend-lint: any of: backend/**/*, premium/backend/**/*
  backend-test-group-1: any of: backend/**/*, premium/backend/**/*
  web-frontend-lint: any of: web-frontend/**/*, premium/web-frontend/**/*
  web-frontend-test: any of: web-frontend/**/*, premium/web-frontend/**/*

fixed bug
  premium/web-frontend/modules/baserow_premium/plugins.js
  premium/web-frontend/test/unit/premium/plugins.spec.js
  web-frontend/test/helpers/testApp.js
Due: web-frontend-lint, web-frontend-test

Resolve "[feature] Ability to link to the current table in "Link to table""
  backend/mypy.ini
  backend/src/baserow/contrib/database/airtable/airtable_column_types.py
  backend/src/baserow/contrib/database/application_types.py
  backend/src/baserow/contrib/database/db/schema.py
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/formula/types/visitors.py
  backend/src/baserow/contrib/database/rows/handler.py
  backend/src/baserow/contrib/database/trash/trash_types.py
  backend/src/baserow/contrib/database/views/registries.py
  backend/tests/baserow/contrib/database/airtable/test_airtable_column_types.py
  backend/tests/baserow/contrib/database/airtable/test_airtable_handler.py
  backend/tests/baserow/contrib/database/api/fields/test_link_row_views.py
  backend/tests/baserow/contrib/database/field/dependencies/test_field_dependency_handler.py
  backend/tests/baserow/contrib/database/field/test_boolean_field_type.py
  backend/tests/baserow/contrib/database/field/test_link_row_field_type.py
  backend/tests/baserow/contrib/database/rows/test_rows_actions.py
  backend/tests/baserow/contrib/database/test_database_application_type.py
  backend/tests/baserow/contrib/database/view/test_view_filters.py
  changelog.md
  web-frontend/modules/database/components/field/FieldLinkRowSubForm.vue
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Resolve "Fix formula refresh button always being show on initial form open"
  changelog.md
  web-frontend/modules/database/components/field/FieldFormulaSubForm.vue
  web-frontend/modules/database/components/formula/FormulaAdvancedEditContext.vue
Due: web-frontend-lint, web-frontend-test

📄3️⃣ Async file import v3: add report and prepare for additionnal import
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/contrib/database/api/fields/errors.py
  backend/src/baserow/contrib/database/api/rows/views.py
  backend/src/baserow/contrib/database/api/tables/serializers.py
  backend/src/baserow/contrib/database/fields/exceptions.py
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/fields/registries.py
  backend/src/baserow/contrib/database/file_import/constants.py
  backend/src/baserow/contrib/database/file_import/exceptions.py
  backend/src/baserow/contrib/database/file_import/job_type.py
  backend/src/baserow/contrib/database/file_import/models.py
  backend/src/baserow/contrib/database/file_import/serializers.py
  backend/src/baserow/contrib/database/migrations/0078_fileimportjob_report.py
  backend/src/baserow/contrib/database/rows/handler.py
  backend/src/baserow/contrib/database/table/handler.py
  backend/src/baserow/core/jobs/constants.py
  backend/src/baserow/core/jobs/handler.py
  backend/src/baserow/core/jobs/models.py
  backend/src/baserow/core/jobs/registries.py
  backend/src/baserow/core/jobs/tasks.py
  backend/src/baserow/core/user_files/exceptions.py
  backend/src/baserow/test_utils/fixtures/file_import.py
  backend/src/baserow/test_utils/fixtures/table.py
  backend/src/baserow/test_utils/pytest_conftest.py
  backend/tests/baserow/contrib/database/airtable/test_airtable_models.py
  backend/tests/baserow/contrib/database/api/fields/test_field_views_types.py
  backend/tests/baserow/contrib/database/api/fields/test_file_views.py
  backend/tests/baserow/contrib/database/api/fields/test_multiple_select_views.py
  backend/tests/baserow/contrib/database/api/fields/test_single_select_views.py
  backend/tests/baserow/contrib/database/field/test_file_field_type.py
  backend/tests/baserow/contrib/database/file_import/test_file_import_tasks.py
  backend/tests/baserow/core/jobs/test_job_tasks.py
  backend/tests/baserow/core/jobs/test_jobs_models.py
Due: backend-lint, backend-test-group-1

added redirect modal when leaving to baserow.io
  changelog.md
  premium/web-frontend/modules/baserow_premium/assets/scss/components/all.scss
  premium/web-frontend/modules/baserow_premium/assets/scss/components/redirectModal.scss
  premium/web-frontend/modules/baserow_premium/components/RedirectToBaserowModal.vue
  premium/web-frontend/modules/baserow_premium/locales/en.json
  premium/web-frontend/modules/baserow_premium/pages/admin/licenses.vue
Due: web-frontend-lint, web-frontend-test

Resolve "Redirect to the signup page if there are no users in the system"
  backend/src/baserow/api/settings/serializers.py
  backend/src/baserow/core/migrations/0026_settings_show_admin_signup_page.py
  backend/src/baserow/core/migrations/0027_default_settings_show_admin_signup_page.py
  backend/src/baserow/core/models.py
  backend/src/baserow/core/user/handler.py
  backend/tests/baserow/api/settings/test_settings_views.py
  changelog.md
  web-frontend/modules/core/locales/en.json
  web-frontend/modules/core/pages/login.vue
  web-frontend/modules/core/pages/signup.vue
  web-frontend/modules/core/store/settings.js
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Add an all-in-one dev mode.
  backend/docker/docker-entrypoint.sh
  changelog.md
  deploy/all-in-one/Dockerfile
  deploy/all-in-one/baserow.sh
  deploy/all-in-one/dev.Dockerfile
  deploy/all-in-one/docker-compose.dev.yml
  deploy/all-in-one/supervisor/default_baserow_env.sh
  deploy/all-in-one/supervisor/start.sh
  deploy/all-in-one/supervisor/supervisor.conf
  dev.sh
  web-frontend/docker/docker-entrypoint.sh
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Resolve "Add check of BASEROW_PUBLIC_URL and PUBLIC_BACKEND_URL to make sure they are valid"
  changelog.md
  deploy/all-in-one/docker-compose.yml
  dev.sh
  web-frontend/docker/docker-entrypoint.sh
  web-frontend/locales/cs.json
  web-frontend/locales/de.json
  web-frontend/locales/en.json
  web-frontend/locales/es.json
  web-frontend/locales/fr.json
  web-frontend/locales/it.json
  web-frontend/locales/nl.json
  web-frontend/locales/pt_BR.json
  web-frontend/locales/zh_Hans.json
  web-frontend/modules/core/layouts/error.vue
  web-frontend/modules/core/layouts/login.vue
  web-frontend/modules/core/middleware.js
  web-frontend/modules/core/middleware/urlCheck.js
Due: web-frontend-lint, web-frontend-test

Fix N queries per table in various views.
  backend/src/baserow/contrib/database/api/tables/serializers.py
  backend/src/baserow/contrib/database/api/tables/views.py
  backend/tests/baserow/api/applications/test_application_views.py
  backend/tests/baserow/contrib/database/api/tables/test_table_views.py
  backend/tests/baserow/contrib/database/api/views/test_view_views.py
Due: backend-lint, backend-test-group-1

Move count_rows command to database module
  backend/src/baserow/contrib/database/management/commands/count_rows.py
Due: backend-lint, backend-test-group-1

Fix bug preventing access to tables when linked to a table with primary formula number field
  backend/src/baserow/contrib/database/fields/field_helpers.py
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/formula/types/formula_types.py
  backend/src/baserow/test_utils/helpers.py
  backend/tests/baserow/contrib/database/api/rows/test_row_serializers.py
  backend/tests/baserow/contrib/database/export/test_export_handler.py
  backend/tests/baserow/contrib/database/field/test_field_types.py
  backend/tests/baserow/contrib/database/field/test_formula_field_type.py
  backend/tests/baserow/contrib/database/view/test_view_aggregations.py
  changelog.md
  premium/backend/tests/baserow_premium/export/test_premium_export_types.py
Due: backend-lint, backend-test-group-1

Make baserow logo forward you to baserow.io
  web-frontend/modules/core/components/sidebar/Sidebar.vue
Due: web-frontend-lint, web-frontend-test

Various self-hosting QOL fixes
  .env.example
  backend/Dockerfile
  backend/src/baserow/config/settings/base.py
  deploy/all-in-one/Dockerfile
  deploy/all-in-one/baserow.sh
  deploy/all-in-one/supervisor/default_baserow_env.sh
  deploy/all-in-one/supervisor/supervisor.conf
  deploy/local_testing/docker-compose.local.yml
  dev.sh
  docker-compose.all-in-one.yml
  docker-compose.dev.yml
  docker-compose.local-build.yml
  docs/installation/configuration.md
  docs/installation/install-with-docker.md
  media/Dockerfile
  media/nginx.conf
  web-frontend/Dockerfile
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Switch plugin boilerplate to use Dockerhub offical images and remove now unused branch ci line.
  .gitlab-ci.yml
  plugin-boilerplate/{{ cookiecutter.project_slug }}/Dockerfile
  plugin-boilerplate/{{ cookiecutter.project_slug }}/backend-dev.Dockerfile
  plugin-boilerplate/{{ cookiecutter.project_slug }}/backend.Dockerfile
  plugin-boilerplate/{{ cookiecutter.project_slug }}/dev.Dockerfile
  plugin-boilerplate/{{ cookiecutter.project_slug }}/web-frontend-dev.Dockerfile
  plugin-boilerplate/{{ cookiecutter.project_slug }}/web-frontend.Dockerfile
Due: none

Raise the GroupUserIsLastAdmin even if another admin is in pending deletion state
  backend/src/baserow/api/groups/users/serializers.py
  backend/src/baserow/api/groups/users/views.py
  backend/src/baserow/api/user/serializers.py
  backend/src/baserow/core/handler.py
  backend/tests/baserow/core/test_core_handler.py
  web-frontend/locales/en.json
  web-frontend/modules/core/assets/scss/components/group_member.scss
  web-frontend/modules/core/components/group/GroupMember.vue
  web-frontend/modules/core/components/group/GroupMembersModal.vue
  web-frontend/modules/core/locales/en.json
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Resolve "Filter on the primary value of the link row field"
  backend/src/baserow/contrib/database/apps.py
  backend/src/baserow/contrib/database/fields/field_filters.py
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/formula/expression_generator/django_expressions.py
  backend/src/baserow/contrib/database/views/view_filters.py
  backend/tests/baserow/contrib/database/view/test_view_filters.py
  changelog.md
  web-frontend/modules/database/plugin.js
  web-frontend/modules/database/viewFilters.js
  web-frontend/test/unit/database/viewFiltersMatch.spec.js
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Comment out all the empty example env lines from .env.example so it works out of the box.
  .env.example
Due: none

fix migrations
  backend/src/baserow/contrib/database/file_import/models.py
  backend/src/baserow/contrib/database/migrations/0079_auto_20220704_1124.py
  backend/src/baserow/core/migrations/0026_settings_show_admin_signup_page.py
Due: backend-lint, backend-test-group-1

Resolve "Fix model cache ending becoming invalid preventing view access"
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/fields/models.py
  backend/src/baserow/contrib/database/fields/registries.py
  backend/src/baserow/contrib/database/migrations/0079_table_version.py
  backend/src/baserow/contrib/database/table/cache.py
  backend/src/baserow/contrib/database/table/models.py
  backend/src/baserow/contrib/database/table/signals.py
  backend/tests/baserow/contrib/database/api/rows/test_row_views.py
  backend/tests/baserow/contrib/database/field/dependencies/test_field_cache.py
  backend/tests/baserow/contrib/database/field/test_formula_field_type.py
  backend/tests/baserow/contrib/database/table/test_table_cache.py
  backend/tests/baserow/contrib/database/trash/test_database_trash_types.py
  changelog.md
Due: backend-lint, backend-test-group-1

Allow extending of the register page and app layout
  changelog.md
  web-frontend/modules/core/components/Modal.vue
  web-frontend/modules/core/components/auth/AuthRegister.vue
  web-frontend/modules/core/layouts/app.vue
  web-frontend/modules/core/mixins/baseModal.js
  web-frontend/modules/core/plugins.js
Due: web-frontend-lint, web-frontend-test

Add a BASEROW_DISABLE_MODEL_CACHE env var
  .env.example
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/contrib/database/fields/models.py
  backend/src/baserow/contrib/database/table/cache.py
  backend/src/baserow/contrib/database/table/models.py
  backend/tests/baserow/contrib/database/table/test_table_cache.py
  changelog.md
  docker-compose.yml
  docs/installation/configuration.md
Due: backend-lint, backend-test-group-1

fix s3 file import error
  backend/src/baserow/contrib/database/file_import/job_type.py
Due: backend-lint, backend-test-group-1

Fix bug when referencing a date formula from another date formula.
  backend/src/baserow/contrib/database/formula/types/formula_types.py
  backend/tests/baserow/contrib/database/field/test_formula_field_type.py
  backend/tests/baserow/contrib/database/field/test_lookup_field_type.py
Due: backend-lint, backend-test-group-1

Translations for 1.10.2
  backend/src/baserow/core/locale/fr/LC_MESSAGES/django.po
  premium/web-frontend/modules/baserow_premium/locales/de.json
  premium/web-frontend/modules/baserow_premium/locales/fr.json
  premium/web-frontend/modules/baserow_premium/locales/it.json
  premium/web-frontend/modules/baserow_premium/locales/nl.json
  web-frontend/locales/de.json
  web-frontend/locales/fr.json
  web-frontend/locales/it.json
  web-frontend/locales/nl.json
  web-frontend/modules/core/locales/de.json
  web-frontend/modules/core/locales/fr.json
  web-frontend/modules/core/locales/it.json
  web-frontend/modules/core/locales/nl.json
  web-frontend/modules/database/locales/de.json
  web-frontend/modules/database/locales/fr.json
  web-frontend/modules/database/locales/it.json
  web-frontend/modules/database/locales/nl.json
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Prepare for 1.10.2
  README.md
  backend/setup.py
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/version.py
  changelog.md
  deploy/all-in-one/README.md
  deploy/all-in-one/supervisor/start.sh
  deploy/cloudron/CloudronManifest.json
  deploy/cloudron/Dockerfile
  docker-compose.all-in-one.yml
  docker-compose.yml
  docs/installation/install-on-cloudron.md
  docs/installation/install-on-ubuntu.md
  docs/installation/install-using-standalone-images.md
  docs/installation/install-with-docker.md
  docs/plugins/installation.md
  heroku.Dockerfile
  plugin-boilerplate/{{ cookiecutter.project_slug }}/Dockerfile
  plugin-boilerplate/{{ cookiecutter.project_slug }}/backend-dev.Dockerfile
  plugin-boilerplate/{{ cookiecutter.project_slug }}/backend.Dockerfile
  plugin-boilerplate/{{ cookiecutter.project_slug }}/dev.Dockerfile
  plugin-boilerplate/{{ cookiecutter.project_slug }}/web-frontend-dev.Dockerfile
  plugin-boilerplate/{{ cookiecutter.project_slug }}/web-frontend.Dockerfile
  web-frontend/package.json
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Add more self hosting docs
  .env.example
  README.md
  backend/docker/docker-entrypoint.sh
  changelog.md
  deploy/apache/README.md
  deploy/apache/no-caddy/.env.testing
  deploy/apache/no-caddy/Dockerfile
  deploy/apache/no-caddy/docker-compose.override.apache.yml
  deploy/apache/no-caddy/sub-domain.conf
  deploy/apache/recommended/Dockerfile
  deploy/apache/recommended/docker-compose.yml
  deploy/apache/recommended/sub-domain.conf
  deploy/nginx/README.md
  deploy/nginx/no-caddy/.env.testing
  deploy/nginx/no-caddy/docker-compose.override.nginx.yml
  deploy/nginx/no-caddy/nginx.conf
  deploy/nginx/recommended/docker-compose.yml
  deploy/nginx/recommended/nginx.conf
  deploy/render/Dockerfile
  deploy/render/render_env.sh
  deploy/traefik/docker-compose.yml
  docker-compose.local-build.yml
  docker-compose.no-caddy.yml
  docs/index.md
  docs/installation/configuration.md
  docs/installation/install-behind-apache.md
  docs/installation/install-behind-nginx.md
  docs/installation/install-on-render.md
  docs/installation/install-with-docker-compose.md
  docs/installation/install-with-docker.md
  docs/installation/install-with-k8s.md
  docs/installation/install-with-traefik.md
  docs/plugins/installation.md
  docs/plugins/introduction.md
  render.yaml
Due: backend-lint, backend-test-group-1

Fix async import dp and compatibility
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/contrib/database/api/tables/errors.py
  backend/src/baserow/contrib/database/api/tables/urls.py
  backend/src/baserow/contrib/database/api/tables/views.py
  backend/src/baserow/contrib/database/table/exceptions.py
  backend/src/baserow/contrib/database/table/handler.py
  backend/tests/baserow/contrib/database/api/tables/test_table_views.py
  backend/tests/baserow/contrib/database/file_import/test_file_import_tasks.py
  docker-compose.yml
  docs/installation/configuration.md
  web-frontend/modules/database/services/table.js
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Some minor doc fixes.
  changelog.md
  docs/installation/install-with-docker-compose.md
Due: none

Fix heroku not being able to launch.
  deploy/heroku/heroku_env.sh
  deploy/render/render_env.sh
Due: none

Resolve "Disable number type guessing on import"
  backend/src/baserow/contrib/database/management/commands/fill_table_fields.py
  backend/src/baserow/contrib/database/table/handler.py
  backend/tests/baserow/contrib/database/field/dependencies/test_field_dependency_handler.py
  backend/tests/baserow/contrib/database/file_import/test_file_import_tasks.py
  changelog.md
  web-frontend/modules/database/components/table/TableJSONImporter.vue
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Switch to more upto date version of postgres in our example images.
  .gitlab-ci.yml
  changelog.md
  deploy/cloudron/docker-compose.yml
  deploy/heroku/docker-compose.yml
  docker-compose.local-build.yml
  docker-compose.no-caddy.yml
  docker-compose.yml
  plugin-boilerplate/{{ cookiecutter.project_slug }}/docker-compose.multi-service.dev.yml
  plugin-boilerplate/{{ cookiecutter.project_slug }}/docker-compose.multi-service.yml
Due: none

Add is number of months ago and is number of years ago filter
  backend/src/baserow/contrib/database/apps.py
  backend/src/baserow/contrib/database/views/view_filters.py
  backend/tests/baserow/contrib/database/view/test_view_filters.py
  changelog.md
  web-frontend/locales/en.json
  web-frontend/modules/database/plugin.js
  web-frontend/modules/database/viewFilters.js
  web-frontend/test/unit/database/viewFiltersMatch.spec.js
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Fix startup job in ci
  .gitlab-ci.yml
Due: none

Show badge when user has account level premium
  changelog.md
  premium/web-frontend/modules/baserow_premium/assets/scss/components/all.scss
  premium/web-frontend/modules/baserow_premium/assets/scss/components/top_sidebar.scss
  premium/web-frontend/modules/baserow_premium/assets/scss/components/user_level_premium.scss
  premium/web-frontend/modules/baserow_premium/components/sidebar/IsImpersonating.vue
  premium/web-frontend/modules/baserow_premium/components/sidebar/PremiumTopSidebar.vue
  premium/web-frontend/modules/baserow_premium/locales/en.json
  premium/web-frontend/modules/baserow_premium/plugins.js
Due: web-frontend-lint, web-frontend-test

Implementing the missing 'in this week' date filter.
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/contrib/database/apps.py
  backend/src/baserow/contrib/database/views/view_filters.py
  backend/tests/baserow/contrib/database/view/test_view_filters.py
  changelog.md
  web-frontend/locales/en.json
  web-frontend/modules/database/plugin.js
  web-frontend/modules/database/viewFilters.js
  web-frontend/test/unit/database/viewFiltersMatch.spec.js
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Fix bad error state on file import parsing error
  changelog.md
  web-frontend/modules/database/components/table/TableCSVImporter.vue
  web-frontend/modules/database/components/table/TableJSONImporter.vue
  web-frontend/modules/database/components/table/TablePasteImporter.vue
  web-frontend/modules/database/components/table/TableXMLImporter.vue
  web-frontend/modules/database/mixins/importer.js
Due: web-frontend-lint, web-frontend-test

Resolve "Add support for Horizontal Scrolling"
  changelog.md
  web-frontend/modules/core/directives/scroll.js
Due: web-frontend-lint, web-frontend-test

Resolve "Failure in perm delete job for self linking tables"
  backend/src/baserow/contrib/database/application_types.py
  backend/src/baserow/contrib/database/db/schema.py
  backend/src/baserow/contrib/database/fields/field_converters.py
  backend/src/baserow/contrib/database/fields/handler.py
  backend/src/baserow/contrib/database/table/handler.py
  backend/tests/baserow/contrib/database/db/test_db_schema.py
  backend/tests/baserow/contrib/database/field/test_link_row_field_type.py
  backend/tests/baserow/contrib/database/trash/test_database_trash_types.py
  changelog.md
Due: backend-lint, backend-test-group-1
