Repository bram2w/baserow: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-util-image, backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

build-ci-util-image:
  image: docker:20.10.12
  stage: build
  services:
  - docker:20.10.12-dind
  variables:
    DOCKER_BUILDKIT: 1
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: /certs
  before_script:
  - "echo \"$CI_REGISTRY_PASSWORD\" | \\\n  docker login -u \"$CI_REGISTRY_USER\" \"$CI_REGISTRY\" --password-stdin\n"
  ...

backend-lint:
  script:
  - docker run --rm $BACKEND_CI_DEV_IMAGE lint

backend-test-group-1:
  services:
  - docker:20.10.12-dind
  - name: postgres:11.3
    alias: db
  - name: liminspace/mjml-tcpserver:0.10
    alias: mjml
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: /certs
    POSTGRES_USER: baserow
    POSTGRES_PASSWORD: baserow
    POSTGRES_DB: baserow
  script:
  ...

web-frontend-lint:
  script:
  - docker run --rm $WEBFRONTEND_CI_DEV_IMAGE lint

web-frontend-test:
  script:
  - 'docker run --name=webfrontend_test $WEBFRONTEND_CI_DEV_IMAGE ci-test;
  
    '

Add link to community, add labels, remove weird template type.
  .gitlab/issue_templates/Bug.md
  .gitlab/issue_templates/Change Request.md
  .gitlab/issue_templates/Default.md
  .gitlab/issue_templates/Feature Request.md
Due: none

Unscope labels so we can have multiple of the same on the same issue
  .gitlab/issue_templates/Bug.md
  .gitlab/issue_templates/Default.md
  .gitlab/issue_templates/Feature Request.md
Due: none

Kanban view filtering
  backend/.flake8
  backend/src/baserow/contrib/database/views/handler.py
  changelog.md
  premium/backend/src/baserow_premium/api/views/kanban/views.py
  premium/backend/src/baserow_premium/views/handler.py
  premium/backend/tests/baserow_premium/api/views/views/test_kanban_views.py
  premium/backend/tests/baserow_premium/views/test_premium_view_handler.py
  premium/web-frontend/modules/baserow_premium/components/views/kanban/KanbanView.vue
  premium/web-frontend/modules/baserow_premium/store/view/kanban.js
  premium/web-frontend/modules/baserow_premium/viewTypes.js
  premium/web-frontend/test/unit/premium/store/view/kanban.spec.js
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Footer calculations/aggregations in grid view v0.1 - Aggregation API only
  .editorconfig
  backend/src/baserow/contrib/database/api/views/errors.py
  backend/src/baserow/contrib/database/api/views/grid/schemas.py
  backend/src/baserow/contrib/database/api/views/grid/urls.py
  backend/src/baserow/contrib/database/api/views/grid/views.py
  backend/src/baserow/contrib/database/apps.py
  backend/src/baserow/contrib/database/fields/registries.py
  backend/src/baserow/contrib/database/views/exceptions.py
  backend/src/baserow/contrib/database/views/handler.py
  backend/src/baserow/contrib/database/views/registries.py
  backend/src/baserow/contrib/database/views/view_aggregations.py
  backend/src/baserow/contrib/database/views/view_filters.py
  backend/src/baserow/contrib/database/views/view_types.py
  backend/tests/baserow/contrib/database/api/views/grid/test_grid_view_views.py
  backend/tests/baserow/contrib/database/view/test_view_aggregations.py
  backend/tests/baserow/contrib/database/view/test_view_handler.py
Due: backend-lint, backend-test-group-1

Fix refreshing views when adding a new field on Kanban and Form views in the row popup
  changelog.md
  premium/web-frontend/modules/baserow_premium/components/views/kanban/KanbanView.vue
  web-frontend/modules/database/components/view/form/FormView.vue
  web-frontend/modules/database/components/view/form/FormViewSidebar.vue
Due: web-frontend-lint, web-frontend-test

Fix bad translation usage on CSV file import
  changelog.md
  web-frontend/modules/database/components/table/TableCSVImporter.vue
Due: web-frontend-lint, web-frontend-test

Resolve "Import from Airtable via management command"
  backend/src/baserow/contrib/database/airtable/__init__.py
  backend/src/baserow/contrib/database/airtable/airtable_column_types.py
  backend/src/baserow/contrib/database/airtable/constants.py
  backend/src/baserow/contrib/database/airtable/exceptions.py
  backend/src/baserow/contrib/database/airtable/handler.py
  backend/src/baserow/contrib/database/airtable/helpers.py
  backend/src/baserow/contrib/database/airtable/registry.py
  backend/src/baserow/contrib/database/application_types.py
  backend/src/baserow/contrib/database/apps.py
  backend/src/baserow/contrib/database/constants.py
  backend/src/baserow/contrib/database/export_serialized.py
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/fields/registries.py
  backend/src/baserow/contrib/database/management/commands/import_from_airtable.py
  backend/src/baserow/core/export_serialized.py
  backend/src/baserow/core/handler.py
  backend/src/baserow/core/registries.py
  backend/src/baserow/core/utils.py
  backend/tests/airtable_responses/airtable_application.json
  backend/tests/airtable_responses/airtable_base.html
  backend/tests/airtable_responses/airtable_table.json
  backend/tests/airtable_responses/file-sample.txt
  backend/tests/airtable_responses/file-sample_500kB.doc
  backend/tests/airtable_responses/file_example_JPG_100kB.jpg
  backend/tests/baserow/contrib/database/airtable/test_airtable_column_types.py
  backend/tests/baserow/contrib/database/airtable/test_airtable_handler.py
  backend/tests/baserow/contrib/database/field/test_created_on_field_type.py
  backend/tests/baserow/contrib/database/field/test_last_modified_field_type.py
  backend/tests/baserow/contrib/database/field/test_link_row_field_type.py
  backend/tests/baserow/contrib/database/field/test_multiple_select_field_type.py
  backend/tests/baserow/contrib/database/test_database_application_type.py
  backend/tests/baserow/core/test_core_utils.py
  changelog.md
Due: backend-lint, backend-test-group-1

Resolve "Invalid OpenAPI spec"
  backend/src/baserow/api/extensions.py
  backend/src/baserow/api/groups/schemas.py
  backend/src/baserow/api/settings/views.py
  backend/src/baserow/api/user/views.py
  backend/src/baserow/contrib/database/api/rows/views.py
  backend/src/baserow/contrib/database/api/views/grid/schemas.py
  backend/src/baserow/contrib/database/api/views/serializers.py
  backend/src/baserow/contrib/database/views/registries.py
  changelog.md
Due: backend-lint, backend-test-group-1

Enforce docstring length to 88 after global flake 88 char limit was removed in...
  backend/.flake8
  backend/src/baserow/contrib/database/fields/exceptions.py
  backend/src/baserow/contrib/database/formula/__init__.py
  backend/src/baserow/contrib/database/views/registries.py
  backend/src/baserow/core/utils.py
  premium/backend/src/baserow_premium/license/handler.py
Due: backend-lint, backend-test-group-1

Add dev dependencies for debugging
  backend/requirements/dev.txt
  backend/src/baserow/config/settings/dev.py
  backend/src/baserow/config/urls.py
  docs/development/debugging.md
  docs/index.md
Due: backend-lint, backend-test-group-1

Add test to validate OpenAPI schema
  backend/requirements/dev.txt
  backend/tests/baserow/api/test_api_spec.py
Due: backend-lint, backend-test-group-1

Resolve "Make it possible to search in the gallery view"
  backend/src/baserow/contrib/database/api/views/gallery/views.py
  backend/src/baserow/contrib/database/views/models.py
  backend/tests/baserow/contrib/database/api/views/gallery/test_gallery_view_views.py
  changelog.md
  premium/web-frontend/modules/baserow_premium/components/views/kanban/KanbanView.vue
  premium/web-frontend/modules/baserow_premium/components/views/kanban/KanbanViewStackedBy.vue
  premium/web-frontend/modules/baserow_premium/viewTypes.js
  web-frontend/modules/database/components/field/CreateFieldContext.vue
  web-frontend/modules/database/components/row/RowEditModal.vue
  web-frontend/modules/database/components/table/Table.vue
  web-frontend/modules/database/components/view/ViewSearch.vue
  web-frontend/modules/database/components/view/ViewSearchContext.vue
  web-frontend/modules/database/components/view/form/FormViewSidebar.vue
  web-frontend/modules/database/components/view/gallery/GalleryView.vue
  web-frontend/modules/database/components/view/gallery/GalleryViewHeader.vue
  web-frontend/modules/database/components/view/grid/GridView.vue
  web-frontend/modules/database/components/view/grid/GridViewHead.vue
  web-frontend/modules/database/components/view/grid/GridViewSection.vue
  web-frontend/modules/database/fieldTypes.js
  web-frontend/modules/database/mixins/viewHelpers.js
  web-frontend/modules/database/realtime.js
  web-frontend/modules/database/store/field.js
  web-frontend/modules/database/store/view/bufferedRows.js
  web-frontend/modules/database/utils/view.js
  web-frontend/modules/database/viewTypes.js
  web-frontend/test/fixtures/fields.js
  web-frontend/test/fixtures/view.js
  web-frontend/test/unit/database/store/view/bufferedRows.spec.js
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Resolve #593: Allow for group registrations while public registration is closed
  backend/src/baserow/api/settings/serializers.py
  backend/src/baserow/core/handler.py
  backend/src/baserow/core/migrations/0014_settings_allow_signups_with_group_invitations.py
  backend/src/baserow/core/models.py
  backend/src/baserow/core/user/handler.py
  backend/tests/baserow/core/user/test_user_handler.py
  changelog.md
  web-frontend/modules/core/locales/en.json
  web-frontend/modules/core/pages/admin/settings.vue
  web-frontend/modules/core/pages/signup.vue
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

fixed number type references
  backend/src/baserow/contrib/database/airtable/airtable_column_types.py
  backend/tests/baserow/contrib/database/airtable/test_airtable_column_types.py
Due: backend-lint, backend-test-group-1

Resolve #535: Add accept attribute to userFileService
  changelog.md
  web-frontend/modules/core/directives/userFileUpload.js
  web-frontend/modules/database/components/view/form/FormViewImageUpload.vue
Due: web-frontend-lint, web-frontend-test

Resolve #781: Web frontend fails when clicking add button too fast
  changelog.md
  web-frontend/modules/database/components/row/SelectRowContent.vue
Due: web-frontend-lint, web-frontend-test

Resolve #570: Hide "Export view" button in the view context menu if the view doesn't have any compatible exporter types
  changelog.md
  web-frontend/modules/database/components/export/ExportTableForm.vue
  web-frontend/modules/database/components/view/ViewContext.vue
  web-frontend/modules/database/utils/viewTypeHasExporterTypes.js
Due: web-frontend-lint, web-frontend-test

Resolve "Django's built in index naming scheme can generate collisions with a Baserow number of tables"
  backend/src/baserow/contrib/database/migrations/0041_add_generated_table_indexes.py
  backend/src/baserow/contrib/database/migrations/0065_rename_old_generated_table_indexes.py
  backend/src/baserow/contrib/database/table/models.py
  backend/src/baserow/test_utils/pytest_conftest.py
  backend/tests/baserow/contrib/database/migrations/test_add_and_move_public_flags.py
  backend/tests/baserow/contrib/database/migrations/test_field_dependencies_migration.py
  backend/tests/baserow/contrib/database/migrations/test_fix_hanging_formula_fields_migration.py
  backend/tests/baserow/contrib/database/migrations/test_fixed_trashed_field_dependencies_migration.py
  backend/tests/baserow/contrib/database/migrations/test_remove_field_by_id_migration.py
  backend/tests/baserow/contrib/database/migrations/test_remove_multiselect_missing_options.py
  backend/tests/baserow/contrib/database/migrations/test_rename_old_generated_table_indexes_migration.py
  backend/tests/baserow/contrib/database/migrations/test_unique_field_names_migration.py
  backend/tests/baserow/core/migrations/test_fix_trash_constraint.py
  changelog.md
Due: backend-lint, backend-test-group-1

Σ 3️⃣ Footer calculation v0.3 - add more aggregation types
  backend/src/baserow/contrib/database/apps.py
  backend/src/baserow/contrib/database/db/aggregations.py
  backend/src/baserow/contrib/database/views/handler.py
  backend/src/baserow/contrib/database/views/registries.py
  backend/src/baserow/contrib/database/views/view_aggregations.py
  backend/src/baserow/contrib/database/ws/public/views/signals.py
  backend/tests/baserow/contrib/database/view/test_view_aggregations.py
  web-frontend/modules/core/registry.js
  web-frontend/modules/database/components/preview/PreviewAny.vue
  web-frontend/modules/database/components/view/grid/GridViewFieldFooter.vue
  web-frontend/modules/database/locales/en.json
  web-frontend/modules/database/plugin.js
  web-frontend/modules/database/store/view/grid.js
  web-frontend/modules/database/viewAggregationTypes.js
  web-frontend/modules/database/viewTypes.js
  web-frontend/test/unit/database/components/view/grid/__snapshots__/gridViewFieldFooter.spec.js.snap
  web-frontend/test/unit/database/components/view/grid/gridViewFieldFooter.spec.js
  web-frontend/test/unit/database/viewAggregationType.spec.js
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Resolve "Prevent transactions being left open by bug in Djangos schema editor"
  backend/src/baserow/api/templates/views.py
  backend/src/baserow/contrib/database/application_types.py
  backend/src/baserow/contrib/database/db/schema.py
  backend/src/baserow/contrib/database/fields/field_converters.py
  backend/src/baserow/contrib/database/fields/handler.py
  backend/src/baserow/contrib/database/fields/registries.py
  backend/src/baserow/contrib/database/table/handler.py
  backend/src/baserow/contrib/database/table/models.py
  backend/src/baserow/contrib/database/trash/trash_types.py
  backend/src/baserow/test_utils/fixtures/field.py
  backend/src/baserow/test_utils/fixtures/table.py
  backend/tests/baserow/contrib/database/db/test_db_schema.py
  changelog.md
  docs/plugins/field-converter.md
Due: backend-lint, backend-test-group-1

Allow configuring the testApp with an optional setup function to be used by applications extending baserow.
  web-frontend/package.json
  web-frontend/yarn.lock
Due: web-frontend-lint, web-frontend-test

Fix premium tests not being run by the CI by ensuring the rootdir includes all tests below it. Also allows coverage reporting to include premium tests for the same reason.
  web-frontend/package.json
  web-frontend/yarn.lock
Due: web-frontend-lint, web-frontend-test

Setup Baserow to build its images in CI for Gitlab.
  .dockerignore
  .gitignore
  .gitlab-ci.yml
  .gitlab/ci_includes/jobs.yml
  .gitlab/ci_util_image/Dockerfile
  backend/.coveragerc
  backend/.test_durations
  backend/Dockerfile
  backend/Makefile
  backend/docker/Dockerfile.dev
  backend/docker/docker-entrypoint.sh
  backend/requirements/dev.txt
  changelog.md
  dev.sh
  docker-compose.dev.yml
  docker-compose.yml
  docs/development/directory-structure.md
  docs/reference/baserow-docker-api.md
  web-frontend/Dockerfile
  web-frontend/Makefile
  web-frontend/docker/Dockerfile.dev
  web-frontend/docker/docker-entrypoint.sh
  web-frontend/jest.config.js
  web-frontend/package.json
  web-frontend/yarn.lock
Due: build-ci-util-image, backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Revert changes to be introduced by future commit
  .dockerignore
  .gitignore
  .gitlab-ci.yml
  .gitlab/ci_includes/jobs.yml
  backend/.coveragerc
  backend/.test_durations
  backend/Makefile
  backend/docker/docker-entrypoint.sh
  web-frontend/Makefile
  web-frontend/jest.config.js
  web-frontend/yarn.lock
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Always run tests for now on this branch as skipping not added yet.
  .gitlab-ci.yml
  backend/Makefile
  web-frontend/Makefile
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Push ci built images to release repo from develop and when tagged on master. Trigger pipeline in saas on dev/master commit. Setup job needs for faster build.
  .gitlab-ci.yml
  .gitlab/ci_includes/jobs.yml
Due: none

Report coverage and test results to gitlab and split pytest job into 3 to speed up the build
  .dockerignore
  .gitignore
  .gitlab-ci.yml
  backend/.coveragerc
  backend/.test_durations
  backend/Makefile
  backend/docker/docker-entrypoint.sh
  web-frontend/Makefile
  web-frontend/jest.config.js
Due: backend-lint, backend-test-group-1, web-frontend-lint, web-frontend-test

Skip ci jobs where files weren't changed and the previous/same commit has a successful job run.
  .gitlab-ci.yml
  .gitlab/ci_includes/jobs.yml
Due: none

pre-compile mjml email templates and delete runtime mjml-tcpserver for enhanced security, reduced architectural complexity and faster/simpler email setup.
  .gitlab-ci.yml
  .gitlab/ci_util_image/Dockerfile
  backend/email_compiler/README.md
  backend/email_compiler/baserowEmailCompiler.js
  backend/email_compiler/package.json
  backend/email_compiler/yarn.lock
  backend/requirements/base.txt
  backend/src/baserow/config/settings/base.py
  backend/src/baserow/config/settings/dev.py
  backend/src/baserow/core/emails.py
  backend/src/baserow/core/templates/baserow/base.html
  backend/src/baserow/core/templates/baserow/base.layout.eta
  backend/src/baserow/core/templates/baserow/core/group_invitation.html
  backend/src/baserow/core/templates/baserow/core/group_invitation.mjml.eta
  backend/src/baserow/core/templates/baserow/core/user/reset_password.html
  backend/src/baserow/core/templates/baserow/core/user/reset_password.mjml.eta
  changelog.md
  deploy/cloudron/Dockerfile
  deploy/cloudron/settings.py
  deploy/heroku/settings.py
  dev.sh
  docker-compose.dev.yml
  docker-compose.yml
  docs/assets/diagrams/server-architecture.puml
  docs/development/running-the-dev-environment.md
  docs/development/tools.md
  docs/getting-started/introduction.md
  docs/guides/installation/configuration-files/supervisor.conf
  docs/guides/installation/install-on-ubuntu.md
  docs/guides/running-baserow-locally.md
  docs/plugins/boilerplate.md
  heroku.Dockerfile
  plugin-boilerplate/{{ cookiecutter.project_slug }}/docker-compose.yml
Due: build-ci-util-image, backend-lint, backend-test-group-1

Add bandit security linter and sort out existing issues
  backend/Makefile
  backend/requirements/dev.txt
  backend/src/baserow/api/errors.py
  backend/src/baserow/api/user/errors.py
  backend/src/baserow/contrib/database/fields/dependencies/circular_reference_checker.py
  backend/src/baserow/contrib/database/fields/field_filters.py
  backend/src/baserow/contrib/database/fields/field_helpers.py
  backend/src/baserow/contrib/database/fields/field_types.py
  backend/src/baserow/contrib/database/fields/registries.py
  backend/src/baserow/contrib/database/management/commands/copy_tables.py
  backend/src/baserow/contrib/database/management/commands/fill_table_fields.py
  backend/src/baserow/contrib/database/migrations/0050_remove_multiselect_missing_options.py
  backend/src/baserow/contrib/database/validators.py
  backend/src/baserow/contrib/database/views/view_filters.py
  backend/src/baserow/core/management/backup/backup_runner.py
  backend/src/baserow/core/management/commands/backup_baserow.py
  backend/src/baserow/core/management/commands/restore_baserow.py
  backend/src/baserow/ws/auth.py
  premium/backend/src/baserow_premium/export/utils.py
Due: backend-lint, backend-test-group-1

Fix merged in code not passing new linter
  backend/src/baserow/contrib/database/migrations/0041_add_generated_table_indexes.py
  backend/src/baserow/contrib/database/migrations/0052_table_order_and_id_index.py
  backend/src/baserow/contrib/database/migrations/0065_rename_old_generated_table_indexes.py
Due: backend-lint, backend-test-group-1

Try debug heroku release with different command
  deploy/cloudron/Dockerfile
  deploy/heroku/README.md
  deploy/heroku/heroku_env.sh
  docker-compose.yml
  docs/index.md
  heroku.Dockerfile
  heroku.yml
Due: none

Fix various bugs
  backend/docker/docker-entrypoint.sh
  backend/requirements/dev_frozen.txt
  deploy/all-in-one/baserow.sh
  deploy/all-in-one/supervisor/includes/disabled/embedded-redis.conf
  deploy/heroku/docker-compose.yml
  deploy/heroku/heroku_env.sh
  dev.sh
  heroku.Dockerfile
  heroku.yml
Due: backend-lint, backend-test-group-1

Draft for #401: Add "create field left" and "create field right" to the field context menu
  changelog.md
  web-frontend/modules/database/components/field/CreateFieldContext.vue
  web-frontend/modules/database/components/field/InsertFieldContext.vue
  web-frontend/modules/database/components/view/grid/GridViewFieldType.vue
  web-frontend/modules/database/components/view/grid/GridViewHead.vue
  web-frontend/modules/database/locales/en.json
Due: web-frontend-lint, web-frontend-test

Add missing migration
  backend/src/baserow/core/migrations/0015_alter_userprofile_language.py
Due: backend-lint, backend-test-group-1

Path conditions:
  build-ci-util-image: any of: .gitlab/ci_util_image/*
  backend-lint: any of: backend/**/*, premium/backend/**/*
  backend-test-group-1: any of: backend/**/*, premium/backend/**/*
  web-frontend-lint: any of: web-frontend/**/*, premium/web-frontend/**/*
  web-frontend-test: any of: web-frontend/**/*, premium/web-frontend/**/*
